@use "sass:map";

// Default global colors
$black: #000;
$white: #fff;
$transparent: transparent;

// @description color palette
$color-palette: (
    "cool-50":  #F6F7F9,
    "cool-100": #E7E9EF,
    "cool-200": #CBD1DC,
    "cool-300": #ACB6C8,
    "cool-400": #8E9AB4,
    "cool-500": #6F7F9F,
    "cool-600": #5A6987,
    "cool-700": #455168,
    "cool-800": #313949,
    "cool-900": #1F242E,
    "cool-950": #14181F,

    "gray-50":  #F9FAFA,
    "gray-100": #F3F4F5,
    "gray-200": #D5D9DC,
    "gray-300": #B7BDC3,
    "gray-400": #9BA3AC,
    "gray-500": #7C8792,
    "gray-600": #646E78,
    "gray-700": #4A5259,
    "gray-800": #31363A,
    "gray-900": #191C1F,
    "gray-950": #0C0D0E,

    "neutral-50": #FAFAFA,
    "neutral-100": #F5F5F5,
    "neutral-200": #D9D9D9,
    "neutral-300": #BFBFBF,
    "neutral-400": #A3A3A3,
    "neutral-500": #878787,
    "neutral-600": #6E6E6E,
    "neutral-700": #525252,
    "neutral-800": #363636,
    "neutral-900": #1C1C1C,
    "neutral-950": #0D0D0D,

    "red-50":  #FCE9EB,
    "red-100": #F9D2D6,
    "red-200": #F2A6AD,
    "red-300": #EC7985,
    "red-400": #E54D5C,
    "red-500": #DF2033,
    "red-600": #B21A29,
    "red-700": #86131F,
    "red-800": #590D14,
    "red-900": #2D060A,
    "red-950": #160305,

    "orange-50":  #FEF0E6,
    "orange-100": #FEE1CD,
    "orange-200": #FDC49B,
    "orange-300": #FBA66A,
    "orange-400": #FA8938,
    "orange-500": #F96B06,
    "orange-600": #C75605,
    "orange-700": #954004,
    "orange-800": #642B02,
    "orange-900": #321501,
    "orange-950": #190B01,

    "yellow-50":  #FFF9E5,
    "yellow-100": #FFF2CC,
    "yellow-200": #FFE699,
    "yellow-300": #FFD966,
    "yellow-400": #FFCC33,
    "yellow-500": #FFBF00,
    "yellow-600": #CC9900,
    "yellow-700": #997300,
    "yellow-800": #664D00,
    "yellow-900": #332600,
    "yellow-950": #191300,

    "green-50":  #E5FBED,
    "green-100": #CBF6DB,
    "green-200": #9BEEB9,
    "green-300": #66E595,
    "green-400": #36DD73,
    "green-500": #1FB757,
    "green-600": #199446,
    "green-700": #126D34,
    "green-800": #0D4A23,
    "green-900": #062311,
    "green-950": #031108,

    "teal-50":  #E3FCFA,
    "teal-100": #CCFAF6,
    "teal-200": #99F5ED,
    "teal-300": #66F0E4,
    "teal-400": #33EADB,
    "teal-500": #15D0C1,
    "teal-600": #11A79A,
    "teal-700": #0D7D74,
    "teal-800": #08534D,
    "teal-900": #042A27,
    "teal-950": #021311,

    "blue-50": #E6F0FF,
    "blue-100": #CDE1FE,
    "blue-200": #9BC4FD,
    "blue-300": #69A6FC,
    "blue-400": #3789FB,
    "blue-500": #056BFA,
    "blue-600": #0456C8,
    "blue-700": #034096,
    "blue-800": #022B64,
    "blue-900": #011532,
    "blue-950": #000B19,

    "indigo-50":  #ECECFD,
    "indigo-100": #DEDEFC,
    "indigo-200": #B8B9F9,
    "indigo-300": #9799F7,
    "indigo-400": #7173F4,
    "indigo-500": #5053F1,
    "indigo-600": #1316EC,
    "indigo-700": #0E11B3,
    "indigo-800": #090B76,
    "indigo-900": #05063D,
    "indigo-950": #02031C,

    "violet-50":  #F3ECFE,
    "violet-100": #E6D8FD,
    "violet-200": #CEB1FB,
    "violet-300": #B58BF9,
    "violet-400": #9C64F7,
    "violet-500": #843DF5,
    "violet-600": #610CE9,
    "violet-700": #4809AF,
    "violet-800": #300674,
    "violet-900": #18033A,
    "violet-950": #0C011D,

    "pink-50":  #FDE8F2,
    "pink-100": #FBD5E8,
    "pink-200": #F6ACD1,
    "pink-300": #F282BA,
    "pink-400": #ED59A3,
    "pink-500": #E92F8C,
    "pink-600": #CB1570,
    "pink-700": #981054,
    "pink-800": #650B38,
    "pink-900": #33051C,
    "pink-950": #17020D,
);

// @description get a color from the color palette
@function get-color($color-name) {
    @if map.has-key($color-palette, $color-name) {
        @return map.get($color-palette, $color-name);
    }
    // Color not found, display a warning message and return black
    @warn "Color '#{$color-name}' not found in the color palette.";
    @return $black;
}
