@use "sass:map";

// @description global flags
$important: false !default;
$dark-mode: false !default;
$output: "css" !default;

// @description classnames prefix
// Used to avoid collissions with other css frameworks
$prefix: "" !default;

// @description separator between utility alias and value
$separator: "\\:" !default;

// @description separator between utility class and pseudo name
$pseudo-separator: "\\:" !default;

// @descript separator between utility class and breakpoint
$breakpoint-separator: "\\@" !default;

// @description custom breakpoints sizes
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1536px,
) !default;

// @description Pseudo states map
// key: pseudo state name
// value: pesudo state selector
$pseudos: (
    active: ":active",
    focus: ":focus",
    focus-within: ":focus-within",
    hover: ":hover",
    visited: ":visited",
    checked: ":checked",
    disabled: ":disabled",
    required: ":required",
    first: ":first-child",
    last: ":last-child",
    odd: ":nth-child(odd)",
    even: ":nth-child(even)",
    group-hover: ":hover",
    group-focus: ":focus",
) !default;

// @description List of modules to include or exclude
$include: null !default;
$exclude: null !default;

// @description extend low css values
$extend: () !default;

// @description List of custom variants for utilities
// @example
// $variants: (
//     background-color: ("default", "hover", "focus"),
// );
$variants: () !default;

// @description List of custom aliases for utilities
// @example
// $aliases: (
//     background-color: "bg",
// );
$aliases: () !default;

// @description custom colors
// Used in background-color, border-color and color properties
$colors: (
    "black": #000,
    "white": #fff,
    "current": currentColor,
    "transparent": transparent,

    "light-100": hsl(0,0%,98%),
    "light-200": hsl(0,0%,96%),
    "light-300": hsl(0,0%,94%),
    "light-400": hsl(0,0%,92%),
    "light-500": hsl(0,0%,90%),
    "light-600": hsl(0,0%,88%),
    "light-700": hsl(0,0%,86%),
    "light-800": hsl(0,0%,84%),
    "light-900": hsl(0,0%,82%),

    "dark-100": hsl(240,8%,32%),
    "dark-200": hsl(240,8%,30%),
    "dark-300": hsl(240,8%,28%),
    "dark-400": hsl(240,8%,26%),
    "dark-500": hsl(240,8%,24%),
    "dark-600": hsl(240,8%,22%),
    "dark-700": hsl(240,8%,20%),
    "dark-800": hsl(240,8%,18%),
    "dark-900": hsl(240,8%,16%),

    "blue-100": hsl(215,96%,90%),
    "blue-200": hsl(215,96%,80%),
    "blue-300": hsl(215,96%,70%),
    "blue-400": hsl(215,96%,60%),
    "blue-500": hsl(215,96%,50%),
    "blue-600": hsl(215,96%,40%),
    "blue-700": hsl(215,96%,30%),
    "blue-800": hsl(215,96%,20%),
    "blue-900": hsl(215,96%,10%),

    "gray-100": hsl(220,20%,97%),
    "gray-200": hsl(210,11%,93%),
    "gray-300": hsl(213,12%,85%),
    "gray-400": hsl(217,11%,68%),
    "gray-500": hsl(219, 9%,50%),
    "gray-600": hsl(215,14%,34%),
    "gray-700": hsl(218,19%,26%),
    "gray-800": hsl(214,28%,16%),
    "gray-900": hsl(221,37%,10%),

    "green-100": hsl(145,45%,90%),
    "green-200": hsl(145,45%,80%),
    "green-300": hsl(145,45%,70%),
    "green-400": hsl(145,45%,60%),
    "green-500": hsl(145,45%,50%),
    "green-600": hsl(145,45%,40%),
    "green-700": hsl(145,45%,30%),
    "green-800": hsl(145,45%,20%),
    "green-900": hsl(145,45%,10%),

    "indigo-100": hsl(263,90%,90%),
    "indigo-200": hsl(263,90%,80%),
    "indigo-300": hsl(263,90%,70%),
    "indigo-400": hsl(263,90%,60%),
    "indigo-500": hsl(263,90%,50%),
    "indigo-600": hsl(263,90%,40%),
    "indigo-700": hsl(263,90%,30%),
    "indigo-800": hsl(263,90%,20%),
    "indigo-900": hsl(263,90%,10%),

    "orange-100": hsl(27,98%,90%),
    "orange-200": hsl(27,98%,80%),
    "orange-300": hsl(27,98%,70%),
    "orange-400": hsl(27,98%,60%),
    "orange-500": hsl(27,98%,50%),
    "orange-600": hsl(27,98%,40%),
    "orange-700": hsl(27,98%,30%),
    "orange-800": hsl(27,98%,20%),
    "orange-900": hsl(27,98%,10%),

    "pink-100": hsl(330,65%,90%),
    "pink-200": hsl(330,65%,80%),
    "pink-300": hsl(330,65%,70%),
    "pink-400": hsl(330,65%,60%),
    "pink-500": hsl(330,65%,50%),
    "pink-600": hsl(330,65%,40%),
    "pink-700": hsl(330,65%,30%),
    "pink-800": hsl(330,65%,20%),
    "pink-900": hsl(330,65%,10%),

    "red-100": hsl(354,75%,90%),
    "red-200": hsl(354,75%,80%),
    "red-300": hsl(354,75%,70%),
    "red-400": hsl(354,75%,60%),
    "red-500": hsl(354,75%,50%),
    "red-600": hsl(354,75%,40%),
    "red-700": hsl(354,75%,30%),
    "red-800": hsl(354,75%,20%),
    "red-900": hsl(354,75%,10%),

    "teal-100": hsl(175,80%,90%),
    "teal-200": hsl(175,80%,80%),
    "teal-300": hsl(175,80%,70%),
    "teal-400": hsl(175,80%,60%),
    "teal-500": hsl(175,80%,50%),
    "teal-600": hsl(175,80%,40%),
    "teal-700": hsl(175,80%,30%),
    "teal-800": hsl(175,80%,20%),
    "teal-900": hsl(175,80%,10%),

    "yellow-100": hsl(45,100%,90%),
    "yellow-200": hsl(45,100%,80%),
    "yellow-300": hsl(45,100%,70%),
    "yellow-400": hsl(45,100%,60%),
    "yellow-500": hsl(45,100%,50%),
    "yellow-600": hsl(45,100%,40%),
    "yellow-700": hsl(45,100%,30%),
    "yellow-800": hsl(45,100%,20%),
    "yellow-900": hsl(45,100%,10%),
) !default;

// @description global sizes, for using in height and width utilities
$sizes: (
    0: 0,
    px: 1px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    10: 2.5rem,
    12: 3rem,
    16: 4rem,
    20: 5rem,
    24: 6rem,
    32: 8rem,
    40: 10rem,
    48: 12rem,
    56: 14rem,
    64: 16rem,
    72: 18rem,
    80: 20rem,
    88: 22rem,
    96: 24rem,
    half: 50%,
    full: 100%,
) !default;

// @description global space values, for using in margin and padding utilities
$space: (
    0: 0,
    px: 1px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    10: 2.5rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    18: 4.5rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
) !default;

// @description values configuration
$align-content: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
) !default;

$align-items: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline,
) !default;

$align-self: (
    auto: auto,
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline,
) !default;

$background-clip: (
    border: border-box,
    padding: padding-box,
    content: content-box,
    text: text,
) !default;

$background-color: $colors !default;

$background-image: (
    none: none,
    gradient-to-right: linear-gradient(to right, var(--low-gradient-start), var(--low-gradient-stop)),
    gradient-to-lelft: linear-gradient(to left, var(--low-gradient-start), var(--low-gradient-stop)),
    gradient-to-bottom: linear-gradient(to bottom, var(--low-gradient-start), var(--low-gradient-stop)),
    gradient-to-top: linear-gradient(to top, var(--low-gradient-start), var(--low-gradient-stop)),
) !default;

$background-repeat: (
    repeat: repeat,
    no-repeat: no-repeat,
) !default;

$background-size: (
    auto: auto,
    cover: cover, 
    contain: contain,
) !default;

$border-color: $colors !default;

$border-radius: (
    0: 0,
    sm: 0.25rem,
    md: 0.5rem,
    lg: 0.75rem,
    xl: 1rem,
    full: 9999px,
    none: 0,
) !default;

$border-style: (
    solid: solid,
    dashed: dashed,
    dotted: dotted,
    none: none,
) !default;

$border-width: (
    0: 0,
    1: 1px,
    2: 2px,
    4: 4px,
    6: 6px,
    8: 8px,
) !default;

$box-shadow: (
    sm: (0 0.25rem 1rem -0.125rem rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    md: (0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    lg: (0rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    none: none,
) !default;

$cursor: (
    hand: pointer,
    pointer: pointer,
    move: move,
    none: none,
    zoom-in: zoom-in,
    zoom-out: zoom-out,
    not-allowed: not-allowed,
) !default;

$display: (
    none: none,
    inline: inline,
    block: block,
    inline-block: inline-block,
    flex: flex,
    inline-flex: inline-flex,
    grid: grid,
    inline-grid: inline-grid,
    table: table,
    table-cell: table-cell,
    table-row: table-row,
    table-row-group: table-row-group,
    table-column: table-column,
    table-column-grup: table-column-group,
    table-header-group: table-header-group,
    table-footer-group: table-footer-group,
) !default;

$flex: (
    none: none,
    initial: initial,
    auto: auto,
) !default;

$flex-direction: (
    row: row, 
    col: column, 
    row-reverse: row-reverse, 
    col-reverse: column-reverse,
) !default;

$flex-grow: (
    grow-0: 0,
    grow-1: 1,
    grow-2: 2,
    grow-3: 3,
    grow-4: 4,
    grow-5: 5,
    grow-6: 6,
) !default;

$flex-shrink: (
    shrink-0: 0,
    shrink-1: 1,
    shrink-2: 2,
    shrink-3: 3,
    shrink-4: 4,
    shrink-5: 5,
    shrink-6: 6,
) !default;

$flex-wrap: (
    wrap: wrap,
    wrap-reverse: wrap-reverse,
    no-wrap: nowrap,
) !default;

$float: (
    left: left,
    right: right,
    none: none,
) !default;

$font-family: (
    sans: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif),
    serif: (Georgia, Cambria, "Times New Roman", Times, serif),
    mono: ("SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace),
    inter: (Inter, sans-serif),
    roboto: (Roboto, sans-serif),
    poppins: (Poppins, sans-serif),
    crimson: ("Crimson Pro", serif),
    nunito: (Nunito, sans-serif),
    opensans: ("Open Sans", sans-serif),
    lato: (Lato, sans-serif),
    montserrat: (Montserrat, sans-serif),
    caveat: (Caveat, cursive),
) !default;

$font-size: (
    3xs: 0.5rem,
    2xs: 0.625rem,
    xs: 0.75rem,
    sm: 0.875rem,
    md: 16px,
    lg: 1.25rem,
    xl: 1.5rem,
    2xl: 2rem,
    3xl: 2.5rem,
    4xl: 3rem,
    5xl: 3.5rem,
    6xl: 4rem,
    7xl: 4.5rem,
    8xl: 5rem,
    9xl: 5.5rem,
    10xl: 6rem,
    11xl: 7rem,
    12xl: 8rem,
) !default;

$font-style: (
    italic: italic,
    not-italic: normal,
) !default;

$font-weight: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    extrabold: 800,
    "black": 900,
) !default;

$gap: (
    0: 0,
    px: 1px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    12: 3rem,
    16: 4rem,
    24: 6rem,
    32: 8rem,
) !default;

$grid-template-columns: (
    1: repeat(1, minmax(0, 1fr)),
    2: repeat(2, minmax(0, 1fr)),
    3: repeat(3, minmax(0, 1fr)),
    4: repeat(4, minmax(0, 1fr)),
    5: repeat(5, minmax(0, 1fr)),
    6: repeat(6, minmax(0, 1fr)),
    7: repeat(7, minmax(0, 1fr)),
    8: repeat(8, minmax(0, 1fr)),
    9: repeat(9, minmax(0, 1fr)),
    10: repeat(10, minmax(0, 1fr)),
    11: repeat(11, minmax(0, 1fr)),
    12: repeat(12, minmax(0, 1fr)),
    none: none,
) !default;

$grid-template-rows: (
    1: repeat(1, minmax(0, 1fr)),
    2: repeat(2, minmax(0, 1fr)),
    3: repeat(3, minmax(0, 1fr)),
    4: repeat(4, minmax(0, 1fr)),
    5: repeat(5, minmax(0, 1fr)),
    6: repeat(6, minmax(0, 1fr)),
    none: none,
) !default;

$height: map.merge($sizes, (
    screen: 100vh,
)) !default;

$inset: (
    0: 0px,
    half: 50%,
    full: 100%,
    auto: auto,
) !default;

$justify-content: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
) !default;

$letter-spacing: (
    tighter: -0.05em,
    tight: -0.025em,
    normal: 0,
    wide: 0.025em,
    wider: 0.05em,
    widest: 0.1em,
) !default;

$line-height: (
    none: 1,
    tight: 1.25,
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
    loose: 2,
) !default;

$margin: map.merge($space, (
    auto: auto,
)) !default;

$max-height: map.merge($sizes, (
    0: 0px,
    full: 100%,
    screen: 100vh,
    max: max-content,
    min: min-content,
    fit: fit-content,
)) !default;

$max-width: (
    0: 0px,
    xs: 20rem,
    sm: 24rem,
    md: 28rem,
    lg: 32rem,
    xl: 36rem,
    2xl: 42rem,
    3xl: 48rem,
    4xl: 56rem,
    5xl: 64rem,
    screen-sm: 640px,
    screen-md: 768px,
    screen-lg: 1024px,
    screen-xl: 1280px,
    screen-2xl: 1536px,
    full: 100%,
    screen: 100vw,
    max: max-content,
    min: min-content,
    fit: fit-content,
) !default;

$min-height: (
    0: 0px,
    full: 100%,
    screen: 100vh,
    max: max-content,
    min: min-content,
    fit: fit-content,
) !default;

$min-width: (
    0: 0px,
    full: 100%,
    screen: 100vw,
    max: max-content,
    min: min-content,
    fit: fit-content,
) !default;

$opacity: (
    0: 0,
    10: 0.1,
    20: 0.2,
    30: 0.3,
    40: 0.4,
    50: 0.5,
    60: 0.6,
    70: 0.7,
    80: 0.8,
    90: 0.9,
    100: 100,
) !default;

$order: (
    none: 0,
    first: -999,
    last: 999,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
) !default;

$outline-color: $colors !default;

$outline-offset: (
    0: 0,
    1: 1px,
    2: 2px,
    4: 4px,
    6: 6px,
    8: 8px,
) !default;

$outline-style: (
    solid: solid,
    dashed: dashed,
    dotted: dotted,
    none: none,
) !default;

$outline-width: (
    0: 0,
    1: 1px,
    2: 2px,
    4: 4px,
    6: 6px,
    8: 8px,
) !default;

$overflow: (
    auto: auto,
    scroll: scroll,
    hidden: hidden,
    visible: visible,
) !default;

$padding: map.merge((), $space) !default;

$position: (
    relative: relative,
    absolute: absolute,
    sticky: sticky,
    fixed: fixed,
    initial: initial,
) !default;

$text-align: (
    justify: justify, 
    left: left, 
    center: center, 
    right: right,
) !default;

$text-color: $colors !default;

$text-decoration: (
    strike: line-through,
    underline: underline,
    no-underline: none,
) !default;

$text-transform: (
    capitalize: capitalize,
    uppercase: uppercase,
    lowercase: lowercase,
) !default;

$user-select: (
    none: none,
    text: text,
    all: all,
    auto: auto,
) !default;

$vertical-align: (
    baseline: baseline,
    top: top,
    middle: middle,
    bottom: bottom,
    text-top: text-top,
    text-bottom: text-bottom,
) !default;

$width: map.merge($sizes, (
    screen: 100vw,
)) !default;

$z-index: (
    auto: auto,
    0: 0,
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    6: 60,
    7: 70,
    8: 80,
    9: 90,
    10: 100,
) !default;

$animation: (
    none: none,
    bounce: (bounce 1s infinite),
    fadein: (fadein ease 1s),
    fadeout: (fadeout ease 1s),
    ping: (ping 1s cubic-bezier(0, 0, 0.2, 1) infinite),
    pulse: (pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite),
    spin: (spin 1s linear infinite),
) !default;

$filter-blur: (
    none: blur(0px),
    sm: blur(2px),
    md: blur(4px),
    lg: blur(8px),
    xl: blur(16px),
    2xl: blur(32px),
    3xl: blur(48px),
) !default;

$filter-sepia: (
    none: sepia(0),
    full: sepia(100%),
) !default;

$filter-invert: (
    none: invert(0),
    full: invert(100%),
) !default;

$transform-scale: (
    0: scale(0),
    25: scale(0.25),
    50: scale(0.5),
    75: scale(0.75),
    100: scale(1),
    125: scale(1.25),
    150: scale(1.5),
) !default;

$transform-scale-x: (
    0: scaleX(0),
    25: scaleX(0.25),
    50: scaleX(0.5),
    75: scaleX(0.75),
    100: scaleX(1),
    125: scaleX(1.25),
    150: scaleX(1.5),
) !default;

$transform-scale-y: (
    0: scaleY(0),
    25: scaleY(0.25),
    50: scaleY(0.5),
    75: scaleY(0.75),
    100: scaleY(1),
    125: scaleY(1.25),
    150: scaleY(1.5),
) !default;

$transform-rotate: (
    0: rotate(0),
    45: rotate(45deg),
    90: rotate(90deg),
    180: rotate(180deg),
) !default;

$transform-translate-x: (
    0: translateX(0),
    px: transpateX(1px),
    1: translateX(0.25rem),
    2: translateX(0.5rem),
    3: translateX(0.75rem),
    4: translateX(1rem),
    6: translateX(1.5rem),
    8: translateX(2rem),
    10: translateX(2.5rem),
    12: translateX(3rem),
    14: translateX(3.5rem),
    16: translateX(4rem),
    18: translateX(4.5rem),
    20: translateX(5rem),
    24: translateX(6rem),
    28: translateX(7rem),
    32: translateX(8rem),
    half: translateX(50%),
    full: translateX(100%),
    half-n: tanslateX(-50%),
    full-n: translateX(-100%),
) !default;

$transform-translate-y: (
    0: translateY(0),
    px: transpateY(1px),
    1: translateY(0.25rem),
    2: translateY(0.5rem),
    3: translateY(0.75rem),
    4: translateY(1rem),
    6: translateY(1.5rem),
    8: translateY(2rem),
    10: translateY(2.5rem),
    12: translateY(3rem),
    14: translateY(3.5rem),
    16: translateY(4rem),
    18: translateY(4.5rem),
    20: translateY(5rem),
    24: translateY(6rem),
    28: translateY(7rem),
    32: translateY(8rem),
    half: translateY(50%),
    full: translateY(100%),
    half-n: tanslateY(-50%),
    full-n: translateY(-100%),
) !default;

$transform-origin: (
    center: center,
    top: top,
    top-right: (top right),
    right: right,
    bottom-right: (bottom right),
    bottom: bottom,
    bottom-left: (bottom left),
    left: left,
    top-left: (top left),
) !default;
