@use "config";
@use "functions";
@use "mixins";

.#{config.$prefix}container {
    width: 100%;
    @each $screen-name,$screen-size in config.$screens {
        .#{$screen-name}\:#{&} {
            width: 100%;
        }
        @include mixins.generate-screen($screen-name) {
            max-width: $screen-size;
            .#{$screen-name}\:#{&} {
                max-width: $screen-size;
            }
        }
    }
}
