// @description Generate an inline SVG image from the provided content
@function svg($content: "", $ns: "http://www.w3.org/2000/svg", $vb: "0 0 16 16") {
    @return "%3csvg xmlns='#{$ns}' viewBox='#{$vb}'%3e#{$content}%3c/svg%3e";
}

// @description generate an inline SVG from the provided path
@function svg-from-path($d: "", $stroke: "%23fff") {
    $attr: "fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'";
    $path: "%3cpath #{$attr} stroke='#{$stroke}' d='#{$d}'/%3e";
    @return svg($path);
}

$checked-image: svg-from-path("M4,8l3,3l5,-6");
$indeterminate-image: svg-from-path("M4,8h8");
$select-image: svg-from-path("M6,8l4,4l4,-4", $stroke: "%236c757d");
$radio-image: svg("%3ccircle cx='8' cy='8' r='3' fill='%23fff'/%3e");

@mixin use-forms() {
    [type="text"],
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="month"],
    [type="tel"],
    [type="time"],
    [type="week"],
    select,
    textarea {
        appearance: none;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.5rem 0.75rem;
    }
    input::placeholder,
    textarea::placeholder {
        color: currentColor;
        opacity: 0.5;
    }
    [type="checkbox"],
    [type="radio"] {
        appearance: none;
        background-origin: border-box;
        display: inline-block;
        height: 1rem;
        margin: 0;
        padding: 0;
        user-select: none;
        vertical-align: middle;
        width: 1rem;
    }
    [type="checkbox"]:checked,
    [type="checkbox"]:indeterminate,
    [type="radio"]:checked {
        background-color: currentColor;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-color: transparent;
    }
    [type="checkbox"]:checked {
        background-image: url("data:image/svg+xml,#{$checked-image}");
    }
    [type="checkbox"]:indeterminate {
        background-image: url("data:image/svg+xml,#{$indeterminate-image}");
    }
    [type="radio"] {
        border-radius: 999px;
    }
    [type="radio"]:checked {
        background-image: url("data:image/svg+xml,#{$radio-image}");
    }
    [type="range"] {
        appearance: none;
        border-radius: 1rem;
        display: block;
        margin: 0;
        min-width: 0;
        outline: none;
        &:-webkit-slider-thumb,
        &:-moz-range-thumb {
            background-color: currentColor;
            border: none;
            border-radius: 999px;
            height: 1rem;
            width: 1rem;
        }
        &:-webkit-slider-thumb {
            appearance: none;
        }
    }
    select {
        background-image: url("data:image/svg+xml,#{$select-image}");
        background-position: right 0.75rem center;
        background-repeat: no-repeat;
        background-size: 16px 12px;
        padding-right: 2.5rem;
    }
}
