// Forward configuration variables and public api
@forward "config";
@forward "api";
@forward "colors";
@forward "base";

// Include sass modules
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

// Include lowcss modules
@use "config";
@use "base";
@use "api";
@use "internal";
@use "utilities";

// @description Inject base styles
@mixin base() {
    @include base.reset();
    @include base.forms();
    @include base.keyframes();
    @include base.scrollbar();
    @include base.helpers();
    @include base.fonts();
}

// @description Generate the utility from the given configuration
@mixin utility($utility-config) {
    $classname: map.get($utility-config, "classname");
    $properties: map.get($utility-config, "properties");
    $values: map.get($utility-config, "values");
    $variants: map.get($utility-config, "variants");
    // Check if the variants list includes the "default" variant
    // @if not internal.list-includes($variants, "default") {
    //     $variants: list.join(("default"), $variants);
    // }
    // Generate utilities for each variant
    @each $variant in $variants {
        @each $key,$value in $values {
            $selector: "#{config.$prefix}#{$key}";
            // Check if classname has been provided for building the selector
            @if meta.type-of($classname) == "string" and $classname != "" {
                $selector: "#{config.$prefix}#{$classname}-#{$key}";
                // Check for default key --> remove this from selector
                @if $key == "DEFAULT" {
                    $selector: "#{config.$prefix}#{$classname}";
                }
            }
            // Default selector for this utility
            @if $variant == "default" {
                .#{$selector} {
                    @include api.rule($properties, $value);
                }
            }
            // For responsive modifiers, we will register the style
            // for each breakpoint in the list of breakpoints
            @else if $variant == "responsive" and meta.type-of(config.$breakpoints) == "map" {
                @each $breakpoint in map.keys(config.$breakpoints) {
                    @include api.screen-above($breakpoint) {
                        .#{$breakpoint}#{config.$separator}#{$selector} {
                            @include api.rule($properties, $value);
                        }
                    }
                }
            }
            // Pseudo modifiers
            @else if map.has-key(config.$pseudos, $variant) {
                $pseudo: $variant;
                $pseudo-selector: map.get(config.$pseudos, $pseudo);
                // Group selector
                @if internal.str-starts-with($pseudo, "group-") {
                    .group#{$pseudo-selector} .#{$pseudo}#{config.$separator}#{$selector} {
                        @include api.rule($properties, $value);
                    }
                }
                // Peer selector
                @else if internal.str-starts-with($pseudo, "peer-") {
                    .peer#{$pseudo-selector}~.#{$pseudo}#{config.$separator}#{$selector} {
                        @include api.rule($properties, $value);
                    }
                }
                // Default pseudo selector
                @else {
                    .#{$pseudo}#{config.$separator}#{$selector}#{$pseudo-selector} {
                        @include api.rule($properties, $value);
                    }
                }
            }
            // TODO: display no valid variant error
        }
    }
}

// @description generate utilities
@mixin utilities() {
    @each $utility-name,$utility-config in utilities.$utilities {
        @if internal.is-enabled($utility-name, config.$include-utilities, config.$exclude-utilities) {
            @include utility($utility-config);
        }
    }
}

// @description utility mixin to apply utilities
@mixin apply($utilities) {
    $utilities-list: internal.str-split($utilities, " ");
    $parsed-separator: internal.str-replace(config.$separator, "\\", "");
    $parsed-pseudo-separator: internal.str-replace(config.$pseudo-separator, "\\", "");
    $parsed-breakpoint-separator: internal.str-replace(config.$breakpoint-separator, "\\", "");
    @each $utility in $utilities-list {
        @if string.index($utility, $parsed-separator) == null {
            @error "Invalid utility '#{$utility}'";
        }
        // First parse utility alias
        $utility-alias: string.slice($utility, 1, string.index($utility, $parsed-separator) - 1);
        @if config.$prefix != "" {
            $utility-alias: internal.str-replace($utility-alias, config.$prefix, "");
        }
        $utility-name: null;
        $utility-config: null;
        $utility-key: null;
        $utility-value: null;
        $utility-properties: null;
        $utility-pseudo: null;
        $utility-breakpoint: null;
        $rest-utility: string.slice($utility, string.index($utility, $parsed-separator) + string.length($parsed-separator));
        // Check for pseudo modifier
        @if string.index($rest-utility, $parsed-pseudo-separator) != null {
            $rest-utility-items: internal.str-split($rest-utility, $parsed-pseudo-separator);
            @if list.length($rest-utility-items) != 2 {
                @error "Invalid utility '#{$utility}'";
            }
            $utility-key: list.nth($rest-utility-items, 1);
            $utility-pseudo: list.nth($rest-utility-items, 2);
        }
        @else if string.index($rest-utility, $parsed-breakpoint-separator) != null {
            $rest-utility-items: internal.str-split($rest-utility, $parsed-breakpoint-separator);
            @if list.length($rest-utility-items) != 2 {
                @error "Invalid utility '#{$utility}'";
            }
            $utility-key: list.nth($rest-utility-items, 1);
            $utility-breakpoint: list.nth($rest-utility-items, 2);
        }
        @else {
            $utility-key: $rest-utility;
        }
        // Check for alias of the utility
        @each $alias in map.keys(config.$aliases) {
            @if $alias == $utility-alias {
                $utility-name: map.get(config.$aliases, $alias);
            }
        }
        // Get utility config
        @each $name,$config in $all-utilities {
            @if $utility-value == null {
                @if $name == $utility-name or map.get($config, "alias") == $utility-alias {
                    $values: utility-values($name, map.get($config, "values"));
                    @each $key,$value in $values {
                        @if "#{$key}" == "#{$utility-key}" {
                            // $utility-value: map.get($values, $utility-key);
                            $utility-value: $value;
                            $utility-properties: map.get($config, "properties");
                        }
                    }
                }
            }
        }
        // Check for not found
        @if $utility-value == null {
            // @error "Utility '#{$utility-alias}' not found.";
            @error "Utility value '#{$utility-key}' not found in utility configuration.";
        }
        // Apply pseudo selector
        @if $utility-pseudo != null {
            @if map.has-key(config.$pseudos, $utility-pseudo) == false {
                @error "Pseudo '#{$utility-pseudo}' not found in utility '#{$utility}'";
            }
            $pseudo: map.get(config.$pseudos, $utility-pseudo);
            &#{$pseudo} {
                @include api.rule($utility-properties, $utility-value);
            }
        }
        // Apply breakpoint selector
        @else if $utility-breakpoint != null {
            @if map.has-key(config.$breakpoints, $utility-breakpoint) == false {
                @error "Breakpoint '#{$utility-breakpoint}' not found in utility '#{$utility}'";
            }
            @include api.screen-above($utility-breakpoint) {
                @include api.rule($utility-properties, $utility-value);
            }
        }
        // Apply default utility
        @else {
            @include api.rule($utility-properties, $utility-value);
        }
    }
} 
