@use "sass:map";
@use "sass:string";
@use "config";

$keyframes: (
    bounce: (
        "0%,100%": (
            transform: translateY(-25%),
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1),
        ),
        "50%": (
            transform: translateY(0),
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1),
        ),
    ),
    fadein: (
        from: (
            opacity: 0,
        ),
        to: (
            opacity: 1,
        ),
    ),
    fadeout: (
        from: (
            opacity: 1,
        ),
        to: (
            opacity: 0,
        ),
    ),
    ping: (
        "75%,100%": (
            transform: scale(2),
            opacity: 0,
        )
    ),
    pulse: (
        "0%,100%": (
            opacity: 1,
        ),
        "50%": (
            opacity: 0.5,
        ),
    ),
    spin: (
        from: (
            transform: rotate(0deg),
        ),
        to: (
            transform: rotate(360deg),
        ),
    ),
);

@mixin keyframes() {
    @each $keyframe-name,$keyframe-steps in $keyframes {
        @keyframes #{$keyframe-name} {
            @each $keyframe-step,$keyframe-rules in $keyframe-steps {
                #{string.unquote($keyframe-step)} {
                    @each $keyframe-transform-prop,$keyframe-transform-value in $keyframe-rules {
                        #{$keyframe-transform-prop}: #{$keyframe-transform-value};
                    }
                }
            }
        }
    }
}
