// Style global scrollbars
@mixin scrollbars {
    .scrollbar {
        &::-webkit-scrollbar {
            height: 0.4rem;
            width: 0.4rem;
        }
        &::-webkit-scrollbar-track, 
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: currentColor;
            border-radius: 1rem;
            cursor: pointer;
        }
        // &::-webkit-scrollbar-thumb:hover {
        //     opacity: 1;
        // }
        &::-webkit-scrollbar-button {
            display: none;
        }
    }
}
