@use "sass:map";
@use "config";

// @description utility function to get devault values
@function get-in-list($key, $list, $default) {
    @if map.has-key($list, $key) {
        @return map.get($kust, $key);
    }
    @return $default;
}

// @description utility function to get alias from config
@function get-alias($property, $default: "") {
    @return get-in-list($property, config.$aliases, $default);
}

// @description utility function to get variants from config
@function get-variants($property, $default: ("default")) {
    @return get-in-list($property, config.$variants, $default);
}

// @description All utilities
$all-utilities: (
    // Background utilities
    background-color: (
        alias: get-alias(background-color, "bg"),
        variants: get-variants(background-color, ("default", "hover", "focus", "active")),
        properties: (background-color),
        values: config.$background-color,
    ),
    background-repeat: (
        alias: get-alias(background-repeat, "bg"),
        variants: get-variants(background-repeat, ("default")),
        properties: (background-repeat),
        values: config.$background-repeat,
    ),
    background-size: (
        alias: get-alias(background-size, "bg"),
        variants: get-variants(background-size, ("default")),
        properties: (background-size),
        values: config.$background-size,
    ),

    // Border utilities
    border-color: (
        alias: get-alias(border-color, "b"),
        variants: get-variants(border-color, ("default", "hover", "focus")),
        properties: (border-color),
        values: config.$border-color,
    ),
    border-radius: (
        alias: get-alias(border-radius, "r"),
        variants: get-variants(border-radius, ("default")),
        properties: (border-radius),
        values: config.$border-radius,
    ),
    border-style: (
        alias: get-alias(border-style, "b"),
        variants: get-variants(border-style, ("default", "focus")),
        properties: (border-style),
        values: config.$border-style,
    ),
    border-width: (
        alias: get-alias(border-width, "b"),
        variants: get-variants(border-width, ("default", "focus")),
        properties: (border-width),
        values: config.$border-width,
    ),
    outline-color: (
        alias: get-alias(outline-color, "outline"),
        variants: get-variants(outline-color, ("default", "focus", "hover", "active", "checked")),
        properties: (outline-color),
        values: config.$outline-color,
    ),
    outline-offset: (
        alias: get-alias(outline-offset, "outline"),
        variants: get-variants(outline-offset, ("default", "focus", "hover", "active", "checked")),
        properties: (outline-offset),
        values: config.$outline-offset,
    ),
    outline-style: (
        alias: get-alias(outline-style, "outline"),
        variants: get-variants(outline-style, ("default", "focus", "hover", "active", "checked")),
        properties: (outline-style),
        values: config.$outline-style,
    ),
    outline-width: (
        alias: get-alias(outline-width, "outline"),
        variants: get-variants(outline-width, ("default", "focus", "hover", "active", "checked")),
        properties: (outline-width),
        values: config.$outline-width,
    ),

    // Effects utilities
    box-shadow: (
        alias: get-alias(box-shadow, "shadow"),
        variants: get-variants(box-shadow, ("default", "hover", "focus")),
        properties: (box-shadow),
        values: config.$box-shadow,
    ),
    opacity: (
        alias: get-alias(opacity, "o"),
        variants: get-variants(opacity, ("default", "responsive", "hover", "focus")),
        properties: (opacity),
        values: config.$opacity,
    ),

    // Flexbox and grid utilities
    align-content: (
        alias: get-alias(align-content, "content"),
        variants: get-variants(align-content, ("default", "responsive")),
        properties: (align-content),
        values: config.$align-content,
    ),
    align-items: (
        alias: get-alias(align-items, "items"),
        variants: get-variants(align-items, ("default", "responsive")),
        properties: (align-items),
        values: config.$align-items,
    ),
    align-self: (
        alias: get-alias(align-self, "self"),
        variants: get-variants(align-self, ("default", "responsive")),
        properties: (align-self),
        values: config.$align-self,
    ),
    flex: (
        alias: get-alias(flex, "flex"),
        variants: get-variants(flex, ("default", "responsive")),
        properties: (flex),
        values: config.$flex,
    ),
    flex-direction: (
        alias: get-alias(flex-direction, "flex"),
        variants: get-variants(flex-direction, ("default", "responsive")),
        properties: (flex-direction),
        values: config.$flex-direction,
    ),
    flex-grow: (
        alias: get-alias(flex-grow, "flex"),
        variants: get-variants(flex-grow, ("default", "responsive")),
        properties: (flex-grow),
        values: config.$flex-grow,
    ),
    flex-shrink: (
        alias: get-alias(flex-shrink, "flex"),
        variants: get-variants(flex-shrink, ("default", "responsive")),
        properties: (flex-shrink),
        values: config.$flex-shrink,
    ),
    flex-wrap: (
        alias: get-alias(flex-wrap, "flex"),
        variants: get-variants(flex-wrap, ("default", "responsive")),
        properties: (flex-wrap),
        values: config.$flex-wrap,
    ),
    gap: (
        alias: get-alias(gap, "gap"),
        variants: get-variants(gap, ("default", "responsive")),
        properties: (gap),
        values: config.$gap,
    ),
    grid-template-columns: (
        alias: get-alias(grid-template-columns, "cols"),
        variants: get-variants(grid-template-columns, ("default", "responsive")),
        properties: (grid-template-columns),
        values: config.$grid-template-columns,
    ),
    gid-template-rows: (
        alias: get-alias(grid-template-rows, "rows"),
        variants: get-variants(grid-template-rows, ("default", "responsive")),
        properties: (grid-template-rows),
        values: config.$grid-template-rows,
    ),
    justify-content: (
        alias: get-alias(justify-content, "justify"),
        variants: get-variants(justify-content, ("default", "responsive")),
        properties: (justify-content),
        values: config.$justify-content,
    ),
    order: (
        alias: get-alias(order, "order"),
        variants: get-variants(order, ("default", "responsive")),
        properties: (order),
        values: config.$order,
    ),

    // Interactivity utilities
    cursor: (
        alias: get-alias(cursor, "cursor"),
        variants: get-variants(cursor, ("default")),
        properties: (cursor),
        values: config.$cursor,
    ),
    user-select: (
        alias: get-alias(user-select, "select"),
        variants: get-variants(user-select, ("default")),
        properties: (user-select),
        values: config.$user-select,
    ),

    // Layout utilities
    bottom: (
        alias: get-alias(bottom, "bottom"),
        variants: get-variants(bottom, ("default", "responsive")),
        properties: (bottom),
        values: config.$inset,
    ),
    display: (
        alias: get-alias(display, "d"),
        variants: get-variants(display, ("default", "responsive")),
        properties: (display),
        values: config.$display,
    ),
    float: (
        alias: get-alias(float, "float"),
        variants: get-variants(float, ("default", "responsive")),
        properties: (float),
        values: config.$float,
    ),
    left: (
        alias: get-alias(left, "left"),
        variants: get-variants(left, ("default", "responsive")),
        properties: (left),
        values: config.$inset,
    ),
    overflow: (
        alias: get-alias(overflow, "overflow"),
        variants: get-variants(overflow, ("default", "responsive")),
        properties: (overflow),
        values: config.$overflow,
    ),
    overflow-x: (
        alias: get-alias(overflow-x, "overflow-x"),
        variants: get-variants(overflow, ("default", "responsive")),
        properties: (overflow-x),
        values: config.$overflow,
    ),
    overflow-y: (
        alias: get-alias(overflow-y, "overflow-y"),
        variants: get-variants(overflow, ("default", "responsive")),
        properties: (overflow-y),
        values: config.$overflow,
    ),
    position: (
        alias: get-alias(position, "position"),
        variants: get-variants(position, ("default", "responsive")),
        properties: (position),
        values: config.$position,
    ),
    right: (
        alias: get-alias(right, "right"),
        variants: get-variants(right, ("default", "responsive")),
        properties: (right),
        values: config.$inset,
    ),
    top: (
        alias: get-alias(top, "top"),
        variants: get-variants(top, ("default", "responsive")),
        properties: (top),
        values: config.$inset,
    ),
    z-index: (
        alias: get-alias(z-index, "z"),
        variants: get-variants(z-index, ("default", "responsive")),
        properties: (z-index),
        values: config.$z-index,
    ),

    // Sizing utilities
    height: (
        alias: get-alias(height, "h"),
        variants: get-variants(height, ("default", "responsive")),
        properties: (height),
        values: config.$height,
    ),
    max-height: (
        alias: get-alias(max-height, "maxh"),
        variants: get-variants(max-height, ("default", "responsive")),
        properties: (max-height),
        values: config.$max-height,
    ),
    max-width: (
        alias: get-alias(max-width, "maxw"),
        variants: get-variants(max-width, ("default", "responsive")),
        properties: (max-width),
        values: config.$max-width,
    ),
    min-height: (
        alias: get-alias(min-height, "minh"),
        variants: get-variants(min-height, ("default", "responsive")),
        properties: (min-height),
        values: config.$min-height,
    ),
    min-width: (
        alias: get-alias(min-width, "minw"),
        variants: get-variants(min-width, ("default", "responsive")),
        properties: (min-width),
        values: config.$min-width,
    ),
    width: (
        alias: get-alias(width, "w"),
        variants: get-variants(width, ("default", "responsive")),
        properties: (width),
        values: config.$width,
    ),

    // Spacing utilities
    margin: (
        alias: get-alias(margin, "m"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin),
        values: config.$margin,
    ),
    margin-bottom: (
        alias: get-alias(margin-bottom, "mb"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-bottom),
        values: config.$margin,
    ),
    margin-left: (
        alias: get-alias(margin-left, "ml"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-left),
        values: config.$margin,
    ),
    margin-right: (
        alias: get-alias(margin-right, "mr"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-right),
        values: config.$margin,
    ),
    margin-top: (
        alias: get-alias(margin-top, "mt"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-top),
        values: config.$margin,
    ),
    margin-x: (
        alias: get-alias(margin-x, "mx"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-left margin-right),
        values: config.$margin,
    ),
    margin-y: (
        alias: get-alias(margin-y, "my"),
        variants: get-variants(margin, ("default", "responsive")),
        properties: (margin-top margin-bottom),
        values: config.$margin,
    ),
    padding: (
        alias: get-alias(padding, "p"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding),
        values: config.$padding,
    ),
    padding-bottom: (
        alias: get-alias(padding-bottom, "pb"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-bottom),
        values: config.$padding,
    ),
    padding-left: (
        alias: get-alias(padding-left, "pl"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-left),
        values: config.$padding,
    ),
    padding-right: (
        alias: get-alias(padding-right, "pr"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-right),
        values: config.$padding,
    ),
    padding-top: (
        alias: get-alias(padding-top, "pt"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-top),
        values: config.$padding,
    ),
    padding-x: (
        alias: get-alias(padding-x, "px"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-left padding-right),
        values: config.$padding,
    ),
    padding-y: (
        alias: get-alias(padding-y, "py"),
        variants: get-variants(padding, ("default", "responsive")),
        properties: (padding-top padding-bottom),
        values: config.$padding,
    ),

    // Typography utilities
    font-family: (
        alias: get-alias(font-family, "font"),
        variants: get-variants(font-family, ("default")),
        properties: (font-family),
        values: config.$font-family,
    ),
    font-size: (
        alias: get-alias(font-size, "text"),
        variants: get-variants(font-size, ("default", "responsive")),
        properties: (font-size),
        values: config.$font-size,
    ),
    font-style: (
        alias: get-alias(font-style, "text"),
        variants: get-variants(font-style, ("default")),
        properties: (font-style),
        values: config.$font-style,
    ),
    font-weight: (
        alias: get-alias(font-weight, "font"),
        variants: get-variants(font-weight, ("default", "hover", "focus", "responsive")),
        properties: (font-weight),
        values: config.$font-weight,
    ),
    line-height: (
        alias: get-alias(line-height, "lh"),
        variants: get-variants(line-height, ("default", "responsive")),
        properties: (line-height),
        values: config.$line-height,
    ),
    text-align: (
        alias: get-alias(text-align, "text"),
        variants: get-variants(text-align, ("default", "responsive")),
        properties: (text-align),
        values: config.$text-align,
    ),
    text-color: (
        alias: get-alias(text-color, "text"),
        variants: get-variants(text-color, ("default", "hover", "focus", "active", "responsive")),
        properties: (color),
        values: config.$text-color,
    ),
    text-decoration: (
        alias: get-alias(text-decoration, "text"),
        variants: get-variants(text-decoration, ("default", "hover", "focus")),
        properties: (text-decoration),
        values: config.$text-decoration,
    ),
    text-transform: (
        alias: get-alias(text-transform, "text"),
        variants: get-variants(text-transform, ("default", "hover", "focus")),
        properties: (text-transform),
        values: config.$text-transform,
    ),
    vertical-align: (
        alias: get-alias(vertical-align, "align"),
        variants: get-variants(vertical-align, ("default", "responsive")),
        properties: (vertical-align),
        values: config.$vertical-align,
    ),
);
