@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "config";

// @description internal function to generate utilities configuration
@function generate-utility($config) {
    $key: map.get($config, "key");
    $themeKey: map.get($config, "themeKey");
    // 1. merge with theme values
    @if meta.type-of($themeKey) == "string" {
        @if config.$theme and meta.type-of(config.$theme) == "map" {
            $theme-values: map.get(config.$theme, $themeKey);
            $extend-values: map.get(config.$theme, "extend", $key);
            $values: map.get($config, "values");
            // Check for replacing the current values with the values provided in the theme
            @if meta.type-of($theme-values) == "map" {
                $values: $theme-values;
            }
            // Check for extending with additional values
            @if meta.type-of($extend-values) == "map" {
                $values: map.merge($values, $extend-values);
            }
            // Save values
            $config: map.set($config, "values", $values);
        }
    }
    // 2. Merge utilities configuration
    @if config.$utilities and meta.type-of(config.$utilities) == "map" {
        $extend-config: map.get(config.$utilities, $key);
        @if $extend-config and meta.type-of($extend-config) == "map" {
            $config: map.merge($config, $extend-config);
        }
    }
    // Return parsed configuration
    @return $config;
};

// @description utilities configuration
$utilities: (
    // Animations
    generate-utility((
        attributes: (
            group: "animation",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/animation",
            description: "Predefined CSS animations.",
        ),
        key: "animation",
        themeKey: "animation",
        classname: "animation",
        responsive: true,
        pseudos: (),
        properties: (animation),
        values: config.$animation,
    )),

    // Background utilities
    generate-utility((
        attributes: (
            group: "background",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip",
            description: "Utilities for setting the background-clip property of the element.",
        ),
        key: "background-clip",
        themeKey: "background-clip",
        classname: "bg",
        responsive: false,
        pseudos: (),
        properties: (background-clip),
        values: config.$background-clip,
    )),
    generate-utility((
        attributes: (
            group: "background",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-color",
            description: "Utilities for setting the background-color property of the element.",
        ),
        key: "background-color",
        themeKey: "background-color",
        classname: "bg",
        responsive: false,
        pseudos: ("hover", "focus", "focus-within", "active", "checked", "disabled", "required", "group-hover", "group-focus", "group-focus-within", "first", "last", "odd", "even"),
        properties: (background-color),
        values: config.$background-color,
    )),
    generate-utility((
        attributes: (
            group: "background",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-image",
            description: "Utilities for setting the background-image property of the element.",
        ),
        key: "background-image",
        themeKey: "background-image",
        classname: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-image),
        values: config.$background-image,
    )),
    generate-utility((
        attributes: (
            group: "background",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat",
            description: "Utilities for setting the background-repeat property of the element.",
        ),
        key: "background-repeat",
        themeKey: "background-repeat",
        classname: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-repeat),
        values: config.$background-repeat,
    )),
    generate-utility((
        attributes: (
            group: "background",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-size",
            description: "Utilities for setting the background-size property of the element.",
        ),
        key: "background-size",
        themeKey: "background-size",
        classname: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-size),
        values: config.$background-size,
    )),

    // Gradients utilities
    generate-utility((
        attributes: (
            group: "gradient",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients",
            description: "Utilities to specify the starting color for the gradient.",
        ),
        key: "gradient-from",
        themeKey: "background-color",
        classname: "from",
        pseudos: (),
        responsive: false,
        properties: (--low-gradient-start),
        values: config.$background-color,
    )),
    generate-utility((
        attributes: (
            group: "gradient",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients",
            description: "Utilities to specify the ending color for the gradient.",
        ),
        key: "gradient-to",
        themeKey: "background-color",
        classname: "to",
        pseudos: (),
        responsive: false,
        properties: (--low-gradient-stop),
        values: config.$background-color,
    )),

    // Border utilities
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius",
            description: "Utilities for setting the radius of the element.",
        ),
        key: "border-radius",
        themeKey: "border-radius",
        classname: "r",
        pseudos: (),
        responsive: false,
        properties: (border-radius),
        values: config.$border-radius,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-left-radius",
            description: "Utilities for setting the radius of the bottom-left corner of the element.",
        ),
        key: "border-bottom-left-radius",
        themeKey: "border-radius",
        classname: "rbl",
        pseudos: (),
        responsive: false,
        properties: (border-bottom-left-radius),
        values: config.$border-radius,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-right-radius",
            description: "Utilities for setting the radius of the bottom-right corner of the element.",
        ),
        key: "border-bottom-right-radius",
        themeKey: "border-radius",
        classname: "rbr",
        pseudos: (),
        responsive: false,
        properties: (border-bottom-right-radius),
        values: config.$border-radius,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-left-radius",
            description: "Utilities for setting the radius of the top-left corner of the element.",
        ),
        key: "border-top-left-radius",
        themeKey: "border-radius",
        classname: "rtl",
        pseudos: (),
        responsive: false,
        properties: (border-top-left-radius),
        values: config.$border-radius,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-right-radius",
            description: "Utilities for setting the radius of the top-right corner of the element.",
        ),
        key: "border-top-right-radius",
        themeKey: "border-radius",
        classname: "rtr",
        pseudos: (),
        responsive: false,
        properties: (border-top-right-radius),
        values: config.$border-radius,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-color",
            description: "Utilities for setting the border color of the element.",
        ),
        key: "border-color",
        themeKey: "border-color",
        classname: "b",
        pseudos: ("hover", "focus", "focus-within", "active", "checked", "disabled", "required", "group-hover", "group-focus", "group-focus-within"),
        responsive: false,
        properties: (border-color),
        values: config.$border-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-style",
            description: "Utilities for setting the border-style property of the element.",
        ),
        key: "border-style",
        themeKey: "border-style",
        classname: "b",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-style),
        values: config.$border-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-width",
            description: "Utilities for setting the border-width property of the element.",
        ),
        key: "border-width",
        themeKey: "border-width",
        classname: "b",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-width),
        values: config.$border-width,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-color",
            description: "Utilities for setting the element's border bottom color.",
        ),
        key: "border-bottom-color",
        themeKey: "border-color",
        classname: "bb",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-bottom-color),
        values: config.$border-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-style",
            description: "Utilities for setting the element's border bottom style.",
        ),
        key: "border-bottom-style",
        themeKey: "border-style",
        classname: "bb",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-bottom-style),
        values: config.$border-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-width",
            description: "Utilities for setting the element's border bottom width.",
        ),
        key: "border-bottom-width",
        themeKey: "border-width",
        classname: "bb",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-bottom-width),
        values: config.$border-width,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-color",
            description: "Utilities for setting the element's border left color.",
        ),
        key: "border-left-color",
        themeKey: "border-color",
        classname: "bl",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-left-color),
        values: config.$border-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-style",
            description: "Utilities for setting the element's border left style.",
        ),
        key: "border-left-style",
        themeKey: "border-style",
        classname: "bl",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-left-style),
        values: config.$border-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-width",
            description: "Utilities for setting the element's border left width.",
        ),
        key: "border-left-width",
        themeKey: "border-width",
        classname: "bl",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-left-width),
        values: config.$border-width,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-color",
            description: "Utilities for setting the element's border right color.",
        ),
        key: "border-right-color",
        themeKey: "border-color",
        classname: "br",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-right-color),
        values: config.$border-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style",
            description: "Utilities for setting the element's border right style.",
        ),
        key: "border-right-style",
        themeKey: "border-style",
        classname: "br",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-right-style),
        values: config.$border-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-width",
            description: "Utilities for setting the element's border right width.",
        ),
        key: "border-right-width",
        themeKey: "border-width",
        classname: "br",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-right-width),
        values: config.$border-width,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-color",
            description: "Utilities for setting the element's border top color.",
        ),
        key: "border-top-color",
        themeKey: "border-color",
        classname: "bt",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-top-color),
        values: config.$border-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-style",
            description: "Utilities for setting the element's border top style.",
        ),
        key: "border-top-style",
        themeKey: "border-style",
        classname: "bt",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-top-style),
        values: config.$border-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-width",
            description: "Utilities for setting the element's border top width.",
        ),
        key: "border-top-width",
        themeKey: "border-width",
        classname: "bt",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-top-width),
        values: config.$border-width,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-color",
            description: "Utilities for setting the outline-color property of the element.",
        ),
        key: "outline-color",
        themeKey: "outline-color",
        classname: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-color),
        values: config.$outline-color,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-offset",
            description: "Utilities for setting the outline-offset property of the element.",
        ),
        key: "outline-offset",
        themeKey: "outline-offset",
        classname: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-offset),
        values: config.$outline-offset,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-style",
            description: "Utilities for setting the outline-style property of the element.",
        ),
        key: "outline-style",
        themeKey: "outline-style",
        classname: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-style),
        values: config.$outline-style,
    )),
    generate-utility((
        attributes: (
            group: "border",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-width",
            description: "Utilities for setting the outline-width property of the element.",
        ),
        key: "outline-width",
        themeKey: "outline-width",
        classname: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-width),
        values: config.$outline-width,
    )),

    // Effects utilities
    generate-utility((
        attributes: (
            group: "effects",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow",
            description: "Utilities for setting the box-shadow property of the element.",
        ),
        key: "box-shadow",
        themeKey: "box-shadow",
        classname: "shadow",
        pseudos: ("hover", "focus", "focus-within"),
        responsive: false,
        properties: (box-shadow),
        values: config.$box-shadow,
    )),
    generate-utility((
        attributes: (
            group: "effects",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/opacity",
            description: "Utilities for setting the opacity property of the element.",
        ),
        key: "opacity",
        themeKey: "opacity",
        classname: "o",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus", "group-focus-within"),
        responsive: true,
        properties: (opacity),
        values: config.$opacity,
    )),

    // Flexbox and grid utilities
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-content",
            description: "Utilities for setting the align-content property of the element.",
        ),
        key: "align-content",
        themeKey: "align-content",
        classname: "content",
        pseudos: (),
        responsive: true,
        properties: (align-content),
        values: config.$align-content,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-items",
            description: "Utilities for setting the align-items property of the element.",
        ),
        key: "align-items",
        themeKey: "align-items",
        classname: "items",
        pseudos: (),
        responsive: true,
        properties: (align-items),
        values: config.$align-items,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-self",
            description: "Utilities for setting the align-self property of the element.",
        ),
        key: "align-self",
        themeKey: "align-self",
        classname: "self",
        pseudos: (),
        responsive: true,
        properties: (align-self),
        values: config.$align-self,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex",
            description: "Utilities for setting the flex property of the element.",
        ),
        key: "flex",
        themeKey: "flex",
        classname: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex),
        values: config.$flex,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction",
            description: "Utilities for setting the flex-direction property of the element.", 
        ),
        key: "flex-direction",
        themeKey: "flex-direction",
        classname: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-direction),
        values: config.$flex-direction,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow",
            description: "Utilities for setting the flex-grow property of the element.",
        ),
        key: "flex-grow",
        themeKey: "flex-grow",
        classname: null,
        pseudos: (),
        responsive: true,
        properties: (flex-grow),
        values: config.$flex-grow,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink",
            description: "Utilities for setting the flex-shrink property of the element.",
        ),
        key: "flex-shrink",
        themeKey: "flex-shrink",
        classname: null,
        pseudos: (),
        responsive: true,
        properties: (flex-shrink),
        values: config.$flex-shrink,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap",
            description: "Utilities for setting the flex-wrap property of the element.",
        ),
        key: "flex-wrap",
        themeKey: "flex-wrap",
        classname: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-wrap),
        values: config.$flex-wrap,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/gap",
            description: "Utilities for setting the gap property of the element.",
        ),
        key: "gap",
        themeKey: "gap",
        classname: "gap",
        pseudos: (),
        responsive: true,
        properties: (gap),
        values: config.$gap,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns",
            description: "Utilities for setting the grid-template-columns property of the element.",
        ),
        key: "grid-template-columns",
        themeKey: "grid-template-columns",
        classname: "cols",
        pseudos: (),
        responsive: true,
        properties: (grid-template-columns),
        values: config.$grid-template-columns,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows",
            description: "Utilities for setting the grid-template-rows property of the element.",
        ),
        key: "grid-template-rows",
        themeKey: "grid-template-rows",
        classname: "rows",
        pseudos: (),
        responsive: true,
        properties: (grid-template-rows),
        values: config.$grid-template-rows,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content",
            description: "Utilities for setting the justify-content property of the element.",
        ),
        key: "justify-content",
        themeKey: "justify-content",
        classname: "justify",
        pseudos: (),
        responsive: true,
        properties: (justify-content),
        values: config.$justify-content,
    )),
    generate-utility((
        attributes: (
            group: "flexbox",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/order",
            description: "Utilities for setting the order property of the element.",
        ),
        key: "order",
        themeKey: "order",
        classname: "order",
        pseudos: (),
        responsive: true,
        properties: (order),
        values: config.$order,
    )),

    // Interactivity utilities
    generate-utility((
        attributes: (
            group: "interactivity",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/cursor",
            description: "Utilities for setting the cursor property of the element.",
        ),
        key: "cursor",
        themeKey: "cursor",
        classname: "cursor",
        pseudos: (),
        responsive: false,
        properties: (cursor),
        values: config.$cursor,
    )),
    generate-utility((
        attributes: (
            group: "interactivity",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/user-select",
            description: "Utilities for setting the user-select property of the element.",
        ),
        key: "user-select",
        themeKey: "user-select",
        classname: "select",
        pseudos: (),
        responsive: false,
        properties: (user-select),
        values: config.$user-select,
    )),

    // Layout utilities
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/bottom",
            description: "Utilities for setting the bottom property of the element.",
        ),
        key: "bottom",
        themeKey: "inset",
        classname: "bottom",
        pseudos: (),
        responsive: true,
        properties: (bottom),
        values: config.$inset,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/display",
            description: "Utilities for setting the display property of the element.",
        ),
        key: "display",
        themeKey: null,
        classname: null,
        pseudos: ("group-hover", "group-focus", "group-focus-within", "first", "last", "odd", "even"),
        responsive: true,
        properties: (display),
        values: config.$display,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/float",
            description: "Utilities for setting the float property of the element.",
        ),
        key: "float",
        themeKey: null,
        classname: "float",
        pseudos: (),
        responsive: true,
        properties: (float),
        values: config.$float,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/left",
            description: "Utilities for setting the left property of the element.",
        ),
        key: "left",
        themeKey: "inset",
        classname: "left",
        pseudos: (),
        responsive: true,
        properties: (left),
        values: config.$inset,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow",
            description: "Utilities for setting the overflow property of the element.",
        ),
        key: "overflow",
        themeKey: "overflow",
        classname: "overflow",
        pseudos: (),
        responsive: true,
        properties: (overflow),
        values: config.$overflow,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x",
            description: "Utilities for setting the overflow-x property of the element.",
        ),
        key: "overflow-x",
        themeKey: "overflow",
        classname: "overflow-x",
        pseudos: (),
        responsive: true,
        properties: (overflow-x),
        values: config.$overflow,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y",
            description: "Utilities for setting the overflow-y property of the element.",
        ),
        key: "overflow-y",
        themeKey: "overflow",
        classname: "overflow-y",
        pseudos: (),
        responsive: true,
        properties: (overflow-y),
        values: config.$overflow,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/position",
            description: "Utilities for setting the position property of the element.",
        ),
        key: "position",
        themeKey: null,
        classname: null,
        pseudos: (),
        responsive: true,
        properties: (position),
        values: config.$position,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/right",
            description: "Utilities for setting the right property of the element.",
        ),
        key: "right",
        themeKey: "inset",
        classname: "right",
        pseudos: (),
        responsive: true,
        properties: (right),
        values: config.$inset,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/top",
            description: "Utilities for setting the top property of the element.",
        ),
        key: "top",
        themeKey: "inset",
        classname: "top",
        pseudos: (),
        responsive: true,
        properties: (top),
        values: config.$inset,
    )),
    generate-utility((
        attributes: (
            group: "layout",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/z-index",
            description: "Utilities for setting the z-index property of the element.",
        ),
        key: "z-index",
        themeKey: "z-index",
        classname: "z",
        pseudos: (),
        responsive: true,
        properties: (z-index),
        values: config.$z-index,
    )),

    // Sizing utilities
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/height",
            description: "Utilities for setting the height property of the element.",
        ),
        key: "height",
        themeKey: "height",
        classname: "h",
        pseudos: (),
        responsive: true,
        properties: (height),
        values: config.$height,
    )),
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/max-height",
            description: "Utilities for setting the max-height property of the element.",
        ),
        key: "max-height",
        themeKey: "max-height",
        classname: "maxh",
        pseudos: (),
        responsive: true,
        properties: (max-height),
        values: config.$max-height,
    )),
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/max-width",
            description: "Utilities for setting the max-width property of the element.",
        ),
        key: "max-width",
        themeKey: "max-width",
        classname: "maxw",
        pseudos: (),
        responsive: true,
        properties: (max-width),
        values: config.$max-width,
    )),
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/min-height",
            description: "Utilities for setting the min-height property of the element.",
        ),
        key: "min-height",
        themeKey: "min-height",
        classname: "minh",
        pseudos: (),
        responsive: true,
        properties: (min-height),
        values: config.$min-height,
    )),
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/min-width",
            description: "Utilities for setting the min-width property of the element.",
        ),
        key: "min-width",
        themeKey: "min-width",
        classname: "minw",
        pseudos: (),
        responsive: true,
        properties: (min-width),
        values: config.$min-width,
    )),
    generate-utility((
        attributes: (
            group: "sizing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/width",
            description: "Utilities for setting the width property of the element.",
        ),
        key: "width",
        themeKey: "width",
        classname: "w",
        pseudos: (),
        responsive: true,
        properties: (width),
        values: config.$width,
    )),

    // Spacing utilities
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
            description: "Utilities for setting the margin property of the element.",
        ),
        key: "margin",
        themeKey: "margin",
        classname: "m",
        pseudos: (),
        responsive: true,
        properties: (margin),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-bottom",
            description: "Utilities for setting the margin-bottom property of the element.",
        ),
        key: "margin-bottom",
        themeKey: "margin",
        classname: "mb",
        pseudos: (),
        responsive: true,
        properties: (margin-bottom),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-left",
            description: "Utilities for setting the margin-left property of the element.",
        ),
        key: "margin-left",
        themeKey: "margin",
        classname: "ml",
        pseudos: (),
        responsive: true,
        properties: (margin-left),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-right",
            description: "Utilities for setting the margin-right property of the element.",
        ),
        key: "margin-right",
        themeKey: "margin",
        classname: "mr",
        pseudos: (),
        responsive: true,
        properties: (margin-right),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top",
            description: "Utilities for setting the margin-top property of the element.",
        ),
        key: "margin-top",
        themeKey: "margin",
        classname: "mt",
        pseudos: (),
        responsive: true,
        properties: (margin-top),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
            description: "Utilities for setting both margin-left and margin-right properties of the element.",
        ),
        key: "margin-x",
        themeKey: "margin",
        classname: "mx",
        pseudos: (),
        responsive: true,
        properties: (margin-left margin-right),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
            description: "Utilities for setting both margin-bottom and margin-top properties of the element.",
        ),
        key: "margin-y",
        themeKey: "margin",
        classname: "my",
        pseudos: (),
        responsive: true,
        properties: (margin-top margin-bottom),
        values: config.$margin,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
            description: "Utilities for setting the padding property of the element.",
        ),
        key: "padding",
        themeKey: "padding",
        classname: "p",
        pseudos: (),
        responsive: true,
        properties: (padding),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-bottom",
            description: "Utilities for setting the padding-bottom property of the element.",
        ),
        key: "padding-bottom",
        themeKey: "padding",
        classname: "pb",
        pseudos: (),
        responsive: true,
        properties: (padding-bottom),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-left",
            description: "Utilities for setting the padding-left property of the element.",
        ),
        key: "padding-left",
        themeKey: "padding",
        classname: "pl",
        pseudos: (),
        responsive: true,
        properties: (padding-left),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-right",
            description: "Utilities for setting the padding-right property of the element.",
        ),
        key: "padding-right",
        themeKey: "padding",
        classname: "pr",
        pseudos: (),
        responsive: true,
        properties: (padding-right),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-top",
            description: "Utilities for setting the padding-top property of the element.",
        ),
        key: "padding-top",
        themeKey: "padding",
        classname: "pt",
        pseudos: (),
        responsive: true,
        properties: (padding-top),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
            description: "Utilities for setting both padding-left and padding-right properties of the element.",
        ),
        key: "padding-x",
        themeKey: "padding",
        classname: "px",
        pseudos: (),
        responsive: true,
        properties: (padding-left padding-right),
        values: config.$padding,
    )),
    generate-utility((
        attributes: (
            group: "spacing",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
            description: "Utilities for setting both padding-bottom and padding-top properties of the element.",
        ),
        key: "padding-y",
        themeKey: "padding",
        classname: "py",
        pseudos: (),
        responsive: true,
        properties: (padding-top padding-bottom),
        values: config.$padding,
    )),

    // Typography utilities
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-family",
            description: "Utilities for setting the font-family property of the element.",
        ),
        key: "font-family",
        themeKey: "font-family",
        classname: "font",
        pseudos: (),
        responsive: false,
        properties: (font-family),
        values: config.$font-family,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-size",
            description: "Utilities for setting the font-size property of the element.",
        ),
        key: "font-size",
        themeKey: "font-size",
        classname: "text",
        pseudos: (),
        responsive: true,
        properties: (font-size),
        values: config.$font-size,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-style",
            description: "Utilities for setting the font-style property of the element.",
        ),
        key: "font-style",
        themeKey: "font-style",
        classname: null,
        pseudos: (),
        responsive: false,
        properties: (font-style),
        values: config.$font-style,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight",
            description: "Utilities for setting the font-weight property of the element.",
        ),
        key: "font-weight",
        themeKey: "font-weight",
        classname: "font",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus", "group-focus-within"),
        responsive: true,
        properties: (font-weight),
        values: config.$font-weight,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing",
            description: "Utilities for setting the horizontal spacing behavior between text characters.",
        ),
        key: "letter-spacing",
        themeKey: "letter-spacing",
        classname: "tracking",
        pseudos: (),
        responsive: false,
        properties: (letter-spacing),
        values: config.$letter-spacing,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/line-height",
            description: "Utilities for setting the line-height property of the element.",
        ),
        key: "line-height",
        themeKey: "line-height",
        classname: "lh",
        pseudos: (),
        responsive: true,
        properties: (line-height),
        values: config.$line-height,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-align",
            description: "Utilities for setting the text-align property of the element.",
        ),
        key: "text-align",
        themeKey: null,
        classname: "text",
        pseudos: (),
        responsive: true,
        properties: (text-align),
        values: config.$text-align,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/color",
            description: "Utilities for setting the color property of the element.",
        ),
        key: "text-color",
        themeKey: "text-color",
        classname: "text",
        pseudos: ("hover", "focus", "focus-within", "active", "disabled", "required", "checked", "group-hover", "group-focus", "group-focus-within"),
        responsive: true,
        properties: (color),
        values: config.$text-color,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration",
            description: "Utilities for setting the text-decoration property of the element.",
        ),
        key: "text-decoration",
        themeKey: "text-decoration",
        classname: null,
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus", "group-focus-within"),
        responsive: false,
        properties: (text-decoration),
        values: config.$text-decoration,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform",
            description: "Utilities for setting the text-transform property of the element.",
        ),
        key: "text-transform",
        themeKey: "text-transform",
        classname: null,
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus", "group-focus-within"),
        responsive: false,
        properties: (text-transform),
        values: config.$text-transform,
    )),
    generate-utility((
        attributes: (
            group: "typography",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align",
            description: "Utilities for setting the vertical-align property of the element.",
        ),
        key: "vertical-align",
        themeKey: "vertical-align",
        classname: "align",
        pseudos: (),
        responsive: true,
        properties: (vertical-align),
        values: config.$vertical-align,
    )),

    // Filter
    generate-utility((
        attributes: (
            group: "filter",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
            description: "Utilities for applying a blur filter to the element.",
        ),
        key: "filter-blur",
        themeKey: "filter-blur",
        classname: "blur",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-blur,
    )),
    generate-utility((
        attributes: (
            group: "filter",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
            description: "Utilities for applying a sepia filter the element.",
        ),
        key: "filter-sepia",
        themeKey: "filter-sepia",
        classname: "sepia",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-sepia,
    )),
    generate-utility((
        attributes: (
            group: "filter",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
            description: "Utilities for applying an invert filter to the element.",
        ),
        key: "filter-invert",
        themeKey: "filter-invert",
        classname: "invert",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-invert,
    )),

    // Transform
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a scale transform to the element.",
        ),
        key: "transform-scale",
        themeKey: "transform-scale",
        classname: "scale",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a scale in the X axis to the element.",
        ),
        key: "transform-scale-x",
        themeKey: "transform-scale-x",
        classname: "scale-x",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale-x,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a scale in the Y axis of the element.",
        ),
        key: "transform-scale-y",
        themeKey: "transform-scale-y",
        classname: "scale-y",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale-y,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a rotation transform to the element.",
        ),
        key: "transform-rotate",
        themeKey: "transform-rotate",
        classname: "rotate",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-rotate,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a translation in the X axis to the element.",
        ),
        key: "transform-translate-x",
        themeKey: "transform-translate-x",
        classname: "translate-x",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-translate-x,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
            description: "Utilities for applying a translation in the Y axis to the element.",
        ),
        key: "transform-translate-y",
        themeKey: "transform-translate-y",
        classname: "translate-y",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-translate-y,
    )),
    generate-utility((
        attributes: (
            group: "transform",
            url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin",
            description: "Utilities for setting the transform-origin property of the element.",
        ),
        key: "transform-origin",
        themeKey: "transform-origin",
        classname: "origin",
        pseudos: (),
        responsive: true,
        properties: (transform-origin),
        values: config.$transform-origin,
    )),
);
