@use "config";

// @description internal function to generate utilities configuration
@function generate-utility($theme, $config) {
    @return $config;
};

// @description All utilities
$all-utilities: (
    // Animations
    animation: generate-utility("animation", (
        group: "animation",
        name: "animation",
        responsive: true,
        pseudos: (),
        properties: (animation),
        values: config.$animation,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/animation",
        description: "Predefined CSS animations.",
    )),

    // Background utilities
    background-clip: generate-utility("background-clip", (
        group: "background",
        name: "bg",
        responsive: false,
        pseudos: (),
        properties: (background-clip),
        values: config.$background-clip,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip",
        description: "Utilities for setting the background-clip property of the element.",
    )),
    background-color: generate-utility("background-color", (
        group: "background",
        name: "bg",
        responsive: false,
        pseudos: ("hover", "focus", "focus-within", "active", "checked", "disabled", "required", "group-hover", "group-focus", "first", "last", "odd", "even"),
        properties: (background-color),
        values: config.$background-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-color",
        description: "Utilities for setting the background-color property of the element.",
    )),
    background-image: generate-utility("background-image", (
        group: "background",
        name: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-image),
        values: config.$background-image,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-image",
        description: "Utilities for setting the background-image property of the element.",
    )),
    background-repeat: generate-utility("background-repeat", (
        group: "background",
        name: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-repeat),
        values: config.$background-repeat,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat",
        description: "Utilities for setting the background-repeat property of the element.",
    )),
    background-size: generate-utility("background-size", (
        group: "background",
        name: "bg",
        pseudos: (),
        responsive: false,
        properties: (background-size),
        values: config.$background-size,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/background-size",
        description: "Utilities for setting the background-size property of the element.",
    )),

    // Gradients utilities
    gradient-from: generate-utility("gradient-from", (
        group: "gradient",
        name: "from",
        pseudos: (),
        responsive: false,
        properties: (--low-gradient-start),
        values: config.$background-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients",
        description: "Utilities to specify the starting color for the gradient.",
    )),
    gradient-to: generate-utility("gradient-to", (
        group: "gradient",
        name: "to",
        pseudos: (),
        responsive: false,
        properties: (--low-gradient-stop),
        values: config.$background-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Images/Using_CSS_gradients",
        description: "Utilities to specify the ending color for the gradient.",
    )),

    // Border utilities
    border-radius: generate-utility("border-radius", (
        group: "border",
        name: "r",
        pseudos: (),
        responsive: false,
        properties: (border-radius),
        values: config.$border-radius,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius",
        description: "Utilities for setting the radius of the element.",
    )),
    border-bottom-left-radius: generate-utility("border-radius", (
        group: "border",
        name: "rbl",
        pseudos: (),
        responsive: false,
        properties: (border-bottom-left-radius),
        values: config.$border-radius,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-left-radius",
        description: "Utilities for setting the radius of the bottom-left corner of the element.",
    )),
    border-bottom-right-radius: generate-utility("border-radius", (
        group: "border",
        name: "rbr",
        pseudos: (),
        responsive: false,
        properties: (border-bottom-right-radius),
        values: config.$border-radius,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-right-radius",
        description: "Utilities for setting the radius of the bottom-right corner of the element.",
    )),
    border-top-left-radius: generate-utility("border-radius", (
        group: "border",
        name: "rtl",
        pseudos: (),
        responsive: false,
        properties: (border-top-left-radius),
        values: config.$border-radius,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-left-radius",
        description: "Utilities for setting the radius of the top-left corner of the element.",
    )),
    border-top-right-radius: generate-utility("border-radius", (
        group: "border",
        name: "rtr",
        pseudos: (),
        responsive: false,
        properties: (border-top-right-radius),
        values: config.$border-radius,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-right-radius",
        description: "Utilities for setting the radius of the top-right corner of the element.",
    )),
    border-color: generate-utility("border-color", (
        group: "border",
        name: "b",
        pseudos: ("hover", "focus", "focus-within", "active", "checked", "disabled", "required", "group-hover", "group-focus"),
        responsive: false,
        properties: (border-color),
        values: config.$border-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-color",
        description: "Utilities for setting the border color of the element.",
    )),
    border-style: generate-utility("border-style", (
        group: "border",
        name: "b",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-style),
        values: config.$border-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-style",
        description: "Utilities for setting the border-style property of the element.",
    )),
    border-width: generate-utility("border-width", (
        group: "border",
        name: "b",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-width),
        values: config.$border-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-width",
        description: "Utilities for setting the border-width property of the element.",
    )),
    border-bottom-color: generate-utility("border-color", (
        group: "border",
        name: "bb",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-bottom-color),
        values: config.$border-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-color",
        description: "Utilities for setting the element's border bottom color.",
    )),
    border-bottom-style: generate-utility("border-style", (
        group: "border",
        name: "bb",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-bottom-style),
        values: config.$border-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-style",
        description: "Utilities for setting the element's border bottom style.",
    )),
    border-bottom-width: generate-utility("border-width", (
        group: "border",
        name: "bb",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-bottom-width),
        values: config.$border-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-width",
        description: "Utilities for setting the element's border bottom width.",
    )),
    border-left-color: generate-utility("border-color", (
        group: "border",
        name: "bl",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-left-color),
        values: config.$border-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-color",
        description: "Utilities for setting the element's border left color.",
    )),
    border-left-style: generate-utility("border-style", (
        group: "border",
        name: "bl",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-left-style),
        values: config.$border-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-style",
        description: "Utilities for setting the element's border left style.",
    )),
    border-left-width: generate-utility("border-width", (
        group: "border",
        name: "bl",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-left-width),
        values: config.$border-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-width",
        description: "Utilities for setting the element's border left width.",
    )),
    border-right-color: generate-utility("border-color", (
        group: "border",
        name: "br",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-right-color),
        values: config.$border-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-color",
        description: "Utilities for setting the element's border right color.",
    )),
    border-right-style: generate-utility("border-style", (
        group: "border",
        name: "br",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-right-style),
        values: config.$border-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-style",
        description: "Utilities for setting the element's border right style.",
    )),
    border-right-width: generate-utility("border-width", (
        group: "border",
        name: "br",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-right-width),
        values: config.$border-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-width",
        description: "Utilities for setting the element's border right width.",
    )),
    border-top-color: generate-utility("border-color", (
        group: "border",
        name: "bt",
        pseudos: ("hover", "focus", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (border-top-color),
        values: config.$border-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-color",
        description: "Utilities for setting the element's border top color.",
    )),
    border-top-style: generate-utility("border-style", (
        group: "border",
        name: "bt",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-top-style),
        values: config.$border-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-style",
        description: "Utilities for setting the element's border top style.",
    )),
    border-top-width: generate-utility("border-width", (
        group: "border",
        name: "bt",
        pseudos: ("focus"),
        responsive: false,
        properties: (border-top-width),
        values: config.$border-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-width",
        description: "Utilities for setting the element's border top width.",
    )),
    outline-color: generate-utility("outline-color", (
        group: "border",
        name: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-color),
        values: config.$outline-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-color",
        description: "Utilities for setting the outline-color property of the element.",
    )),
    outline-offset: generate-utility("outline-offset", (
        group: "border",
        name: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-offset),
        values: config.$outline-offset,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-offset",
        description: "Utilities for setting the outline-offset property of the element.",
    )),
    outline-style: generate-utility("outline-style", (
        group: "border",
        name: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-style),
        values: config.$outline-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-style",
        description: "Utilities for setting the outline-style property of the element.",
    )),
    outline-width: generate-utility("outline-width", (
        group: "border",
        name: "outline",
        pseudos: ("focus", "focus-within", "hover", "active", "checked", "disabled", "required"),
        responsive: false,
        properties: (outline-width),
        values: config.$outline-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/outline-width",
        description: "Utilities for setting the outline-width property of the element.",
    )),

    // Effects utilities
    box-shadow: generate-utility("box-shadow", (
        group: "effects",
        name: "shadow",
        pseudos: ("hover", "focus", "focus-within"),
        responsive: false,
        properties: (box-shadow),
        values: config.$box-shadow,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow",
        description: "Utilities for setting the box-shadow property of the element.",
    )),
    opacity: generate-utility("opacity", (
        group: "effects",
        name: "o",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus"),
        responsive: true,
        properties: (opacity),
        values: config.$opacity,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/opacity",
        description: "Utilities for setting the opacity property of the element.",
    )),

    // Flexbox and grid utilities
    align-content: generate-utility("align-content", (
        group: "flexbox",
        name: "content",
        pseudos: (),
        responsive: true,
        properties: (align-content),
        values: config.$align-content,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-content",
        description: "Utilities for setting the align-content property of the element.",
    )),
    align-items: generate-utility("align-items", (
        group: "flexbox",
        name: "items",
        pseudos: (),
        responsive: true,
        properties: (align-items),
        values: config.$align-items,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-items",
        description: "Utilities for setting the align-items property of the element.",
    )),
    align-self: generate-utility("align-self", (
        group: "flexbox",
        name: "self",
        pseudos: (),
        responsive: true,
        properties: (align-self),
        values: config.$align-self,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/align-self",
        description: "Utilities for setting the align-self property of the element.",
    )),
    flex: generate-utility("flex", (
        group: "flexbox",
        name: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex),
        values: config.$flex,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex",
        description: "Utilities for setting the flex property of the element.",
    )),
    flex-direction: generate-utility("flex-direction", (
        group: "flexbox",
        name: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-direction),
        values: config.$flex-direction,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction",
        description: "Utilities for setting the flex-direction property of the element.", 
    )),
    flex-grow: generate-utility("flex-grow", (
        group: "flexbox",
        name: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-grow),
        values: config.$flex-grow,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow",
        description: "Utilities for setting the flex-grow property of the element.",
    )),
    flex-shrink: generate-utility("flex-shrink", (
        group: "flexbox",
        name: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-shrink),
        values: config.$flex-shrink,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink",
        description: "Utilities for setting the flex-shrink property of the element.",
    )),
    flex-wrap: generate-utility("flex-wrap", (
        group: "flexbox",
        name: "flex",
        pseudos: (),
        responsive: true,
        properties: (flex-wrap),
        values: config.$flex-wrap,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap",
        description: "Utilities for setting the flex-wrap property of the element.",
    )),
    gap: generate-utility("gap", (
        group: "flexbox",
        name: "gap",
        pseudos: (),
        responsive: true,
        properties: (gap),
        values: config.$gap,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/gap",
        description: "Utilities for setting the gap property of the element.",
    )),
    grid-template-columns: generate-utility("grid-template-columns", (
        group: "flexbox",
        name: "cols",
        pseudos: (),
        responsive: true,
        properties: (grid-template-columns),
        values: config.$grid-template-columns,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns",
        description: "Utilities for setting the grid-template-columns property of the element.",
    )),
    gid-template-rows: generate-utility("grid-template-rows", (
        group: "flexbox",
        name: "rows",
        pseudos: (),
        responsive: true,
        properties: (grid-template-rows),
        values: config.$grid-template-rows,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows",
        description: "Utilities for setting the grid-template-rows property of the element.",
    )),
    justify-content: generate-utility("justify-content", (
        group: "flexbox",
        name: "justify",
        pseudos: (),
        responsive: true,
        properties: (justify-content),
        values: config.$justify-content,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content",
        description: "Utilities for setting the justify-content property of the element.",
    )),
    order: generate-utility("order", (
        group: "flexbox",
        name: "order",
        pseudos: (),
        responsive: true,
        properties: (order),
        values: config.$order,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/order",
        description: "Utilities for setting the order property of the element.",
    )),

    // Interactivity utilities
    cursor: generate-utility("cursor", (
        group: "interactivity",
        name: "cursor",
        pseudos: (),
        responsive: false,
        properties: (cursor),
        values: config.$cursor,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/cursor",
        description: "Utilities for setting the cursor property of the element.",
    )),
    user-select: generate-utility("user-select", (
        group: "interactivity",
        name: "select",
        pseudos: (),
        responsive: false,
        properties: (user-select),
        values: config.$user-select,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/user-select",
        description: "Utilities for setting the user-select property of the element.",
    )),

    // Layout utilities
    bottom: generate-utility("inset", (
        group: "layout",
        name: "bottom",
        pseudos: (),
        responsive: true,
        properties: (bottom),
        values: config.$inset,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/bottom",
        description: "Utilities for setting the bottom property of the element.",
    )),
    display: generate-utility("display", (
        group: "layout",
        name: "d",
        pseudos: ("group-hover", "group-focus", "first", "last"),
        responsive: true,
        properties: (display),
        values: config.$display,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/display",
        description: "Utilities for setting the display property of the element.",
    )),
    float: generate-utility("float", (
        group: "layout",
        name: "float",
        pseudos: (),
        responsive: true,
        properties: (float),
        values: config.$float,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/float",
        description: "Utilities for setting the float property of the element.",
    )),
    left: generate-utility("inset", (
        group: "layout",
        name: "left",
        pseudos: (),
        responsive: true,
        properties: (left),
        values: config.$inset,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/left",
        description: "Utilities for setting the left property of the element.",
    )),
    overflow: generate-utility("overflow", (
        group: "layout",
        name: "overflow",
        pseudos: (),
        responsive: true,
        properties: (overflow),
        values: config.$overflow,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow",
        description: "Utilities for setting the overflow property of the element.",
    )),
    overflow-x: generate-utility("overflow", (
        group: "layout",
        name: "overflow-x",
        pseudos: (),
        responsive: true,
        properties: (overflow-x),
        values: config.$overflow,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x",
        description: "Utilities for setting the overflow-x property of the element.",
    )),
    overflow-y: generate-utility("overflow", (
        group: "layout",
        name: "overflow-y",
        pseudos: (),
        responsive: true,
        properties: (overflow-y),
        values: config.$overflow,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y",
        description: "Utilities for setting the overflow-y property of the element.",
    )),
    position: generate-utility("position", (
        group: "layout",
        name: "position",
        pseudos: (),
        responsive: true,
        properties: (position),
        values: config.$position,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/position",
        description: "Utilities for setting the position property of the element.",
    )),
    right: generate-utility("inset", (
        group: "layout",
        name: "right",
        pseudos: (),
        responsive: true,
        properties: (right),
        values: config.$inset,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/right",
        description: "Utilities for setting the right property of the element.",
    )),
    top: generate-utility("inset", (
        group: "layout",
        name: "top",
        pseudos: (),
        responsive: true,
        properties: (top),
        values: config.$inset,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/top",
        description: "Utilities for setting the top property of the element.",
    )),
    z-index: generate-utility("z-index", (
        group: "layout",
        name: "z",
        pseudos: (),
        responsive: true,
        properties: (z-index),
        values: config.$z-index,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/z-index",
        description: "Utilities for setting the z-index property of the element.",
    )),

    // Sizing utilities
    height: generate-utility("height", (
        group: "sizing",
        name: "h",
        pseudos: (),
        responsive: true,
        properties: (height),
        values: config.$height,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/height",
        description: "Utilities for setting the height property of the element.",
    )),
    max-height: generate-utility("max-height", (
        group: "sizing",
        name: "maxh",
        pseudos: (),
        responsive: true,
        properties: (max-height),
        values: config.$max-height,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/max-height",
        description: "Utilities for setting the max-height property of the element.",
    )),
    max-width: generate-utility("max-width", (
        group: "sizing",
        name: "maxw",
        pseudos: (),
        responsive: true,
        properties: (max-width),
        values: config.$max-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/max-width",
        description: "Utilities for setting the max-width property of the element.",
    )),
    min-height: generate-utility("min-height", (
        group: "sizing",
        name: "minh",
        pseudos: (),
        responsive: true,
        properties: (min-height),
        values: config.$min-height,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/min-height",
        description: "Utilities for setting the min-height property of the element.",
    )),
    min-width: generate-utility("min-width", (
        group: "sizing",
        name: "minw",
        pseudos: (),
        responsive: true,
        properties: (min-width),
        values: config.$min-width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/min-width",
        description: "Utilities for setting the min-width property of the element.",
    )),
    width: generate-utility("width", (
        group: "sizing",
        name: "w",
        pseudos: (),
        responsive: true,
        properties: (width),
        values: config.$width,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/width",
        description: "Utilities for setting the width property of the element.",
    )),

    // Spacing utilities
    margin: generate-utility("margin", (
        group: "spacing",
        name: "m",
        pseudos: (),
        responsive: true,
        properties: (margin),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
        description: "Utilities for setting the margin property of the element.",
    )),
    margin-bottom: generate-utility("margin", (
        group: "spacing",
        name: "mb",
        pseudos: (),
        responsive: true,
        properties: (margin-bottom),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-bottom",
        description: "Utilities for setting the margin-bottom property of the element.",
    )),
    margin-left: generate-utility("margin", (
        group: "spacing",
        name: "ml",
        pseudos: (),
        responsive: true,
        properties: (margin-left),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-left",
        description: "Utilities for setting the margin-left property of the element.",
    )),
    margin-right: generate-utility("margin", (
        group: "spacing",
        name: "mr",
        pseudos: (),
        responsive: true,
        properties: (margin-right),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-right",
        description: "Utilities for setting the margin-right property of the element.",
    )),
    margin-top: generate-utility("margin", (
        group: "spacing",
        name: "mt",
        pseudos: (),
        responsive: true,
        properties: (margin-top),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top",
        description: "Utilities for setting the margin-top property of the element.",
    )),
    margin-x: generate-utility("margin", (
        group: "spacing",
        name: "mx",
        pseudos: (),
        responsive: true,
        properties: (margin-left margin-right),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
        description: "Utilities for setting both margin-left and margin-right properties of the element.",
    )),
    margin-y: generate-utility("margin", (
        group: "spacing",
        name: "my",
        pseudos: (),
        responsive: true,
        properties: (margin-top margin-bottom),
        values: config.$margin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/margin",
        description: "Utilities for setting both margin-bottom and margin-top properties of the element.",
    )),
    padding: generate-utility("padding", (
        group: "spacing",
        name: "p",
        pseudos: (),
        responsive: true,
        properties: (padding),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
        description: "Utilities for setting the padding property of the element.",
    )),
    padding-bottom: generate-utility("padding", (
        group: "spacing",
        name: "pb",
        pseudos: (),
        responsive: true,
        properties: (padding-bottom),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-bottom",
        description: "Utilities for setting the padding-bottom property of the element.",
    )),
    padding-left: generate-utility("padding", (
        group: "spacing",
        name: "pl",
        pseudos: (),
        responsive: true,
        properties: (padding-left),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-left",
        description: "Utilities for setting the padding-left property of the element.",
    )),
    padding-right: generate-utility("padding", (
        group: "spacing",
        name: "pr",
        pseudos: (),
        responsive: true,
        properties: (padding-right),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-right",
        description: "Utilities for setting the padding-right property of the element.",
    )),
    padding-top: generate-utility("padding", (
        group: "spacing",
        name: "pt",
        pseudos: (),
        responsive: true,
        properties: (padding-top),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding-top",
        description: "Utilities for setting the padding-top property of the element.",
    )),
    padding-x: generate-utility("padding", (
        group: "spacing",
        name: "px",
        pseudos: (),
        responsive: true,
        properties: (padding-left padding-right),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
        description: "Utilities for setting both padding-left and padding-right properties of the element.",
    )),
    padding-y: generate-utility("padding", (
        group: "spacing",
        name: "py",
        pseudos: (),
        responsive: true,
        properties: (padding-top padding-bottom),
        values: config.$padding,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/padding",
        description: "Utilities for setting both padding-bottom and padding-top properties of the element.",
    )),

    // Typography utilities
    font-family: generate-utility("font-family", (
        group: "typography",
        name: "font",
        pseudos: (),
        responsive: false,
        properties: (font-family),
        values: config.$font-family,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-family",
        description: "Utilities for setting the font-family property of the element.",
    )),
    font-size: generate-utility("font-size", (
        group: "typography",
        name: "text",
        pseudos: (),
        responsive: true,
        properties: (font-size),
        values: config.$font-size,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-size",
        description: "Utilities for setting the font-size property of the element.",
    )),
    font-style: generate-utility("font-style", (
        group: "typography",
        name: "text",
        pseudos: (),
        responsive: false,
        properties: (font-style),
        values: config.$font-style,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-style",
        description: "Utilities for setting the font-style property of the element.",
    )),
    font-weight: generate-utility("font-weight", (
        group: "typography",
        name: "font",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus"),
        responsive: true,
        properties: (font-weight),
        values: config.$font-weight,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight",
        description: "Utilities for setting the font-weight property of the element.",
    )),
    letter-spacing: generate-utility("letter-spacing", (
        group: "typography",
        name: "tracking",
        pseudos: (),
        responsive: false,
        properties: (letter-spacing),
        values: config.$letter-spacing,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing",
        description: "Utilities for setting the horizontal spacing behavior between text characters.",
    )),
    line-height: generate-utility("line-height", (
        group: "typography",
        name: "lh",
        pseudos: (),
        responsive: true,
        properties: (line-height),
        values: config.$line-height,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/line-height",
        description: "Utilities for setting the line-height property of the element.",
    )),
    text-align: generate-utility("text-align", (
        group: "typography",
        name: "text",
        pseudos: (),
        responsive: true,
        properties: (text-align),
        values: config.$text-align,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-align",
        description: "Utilities for setting the text-align property of the element.",
    )),
    text-color: generate-utility("text-color", (
        group: "typography",
        name: "text",
        pseudos: ("hover", "focus", "focus-within", "active", "disabled", "required", "checked", "group-hover", "group-focus"),
        responsive: true,
        properties: (color),
        values: config.$text-color,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/color",
        description: "Utilities for setting the color property of the element.",
    )),
    text-decoration: generate-utility("text-decoration", (
        group: "typography",
        name: "text",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus"),
        responsive: false,
        properties: (text-decoration),
        values: config.$text-decoration,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration",
        description: "Utilities for setting the text-decoration property of the element.",
    )),
    text-transform: generate-utility("text-transform", (
        group: "typography",
        name: "text",
        pseudos: ("hover", "focus", "focus-within", "group-hover", "group-focus"),
        responsive: false,
        properties: (text-transform),
        values: config.$text-transform,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform",
        description: "Utilities for setting the text-transform property of the element.",
    )),
    vertical-align: generate-utility("vertical-align", (
        group: "typography",
        name: "align",
        pseudos: (),
        responsive: true,
        properties: (vertical-align),
        values: config.$vertical-align,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align",
        description: "Utilities for setting the vertical-align property of the element.",
    )),

    // Filter
    filter-blur: generate-utility("filter-blur", (
        group: "filter",
        name: "blur",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-blur,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
        description: "Utilities for applying a blur filter to the element.",
    )),
    filter-sepia: generate-utility("filter-sepia", (
        group: "filter",
        name: "sepia",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-sepia,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
        description: "Utilities for applying a sepia filter the element.",
    )),
    filter-invert: generate-utility("filter-invert", (
        group: "filter",
        name: "invert",
        pseudos: (),
        responsive: true,
        properties: (filter),
        values: config.$filter-invert,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/filter",
        description: "Utilities for applying an invert filter to the element.",
    )),

    // Transform
    transform-scale: generate-utility("transform-scale", (
        group: "transform",
        name: "scale",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a scale transform to the element.",
    )),
    transform-scale-x: generate-utility("transform-scale-x", (
        group: "transform",
        name: "scale-x",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale-x,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a scale in the X axis to the element.",
    )),
    transform-scale-y: generate-utility("transform-scale-y", (
        group: "transform",
        name: "scale-y",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-scale-y,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a scale in the Y axis of the element.",
    )),
    transform-rotate: generate-utility("transform-rotate", (
        group: "transform",
        name: "rotate",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-rotate,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a rotation transform to the element.",
    )),
    transform-translate-x: generate-utility("transform-translate-x", (
        group: "transform",
        name: "translate-x",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-translate-x,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a translation in the X axis to the element.",
    )),
    transform-translate-y: generate-utility("transform-translate-y", (
        group: "transform",
        name: "translate-y",
        pseudos: (),
        responsive: true,
        properties: (transform),
        values: config.$transform-translate-y,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform",
        description: "Utilities for applying a translation in the Y axis to the element.",
    )),
    transform-origin: generate-utility("transform-origin", (
        group: "transform",
        name: "origin",
        pseudos: (),
        responsive: true,
        properties: (transform-origin),
        values: config.$transform-origin,
        url: "https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin",
        description: "Utilities for setting the transform-origin property of the element.",
    )),
);
