// @description global flags
$use-important-flag: false !default;
$use-darkmode: true !default;
// $use-reset: true !default;

// @description classnames prefix
// Used to avoid collissions with other css frameworks
$prefix: "" !default;

// @description custom screen sizes
$screens: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
) !default;

// @description Pseudo states map
// key: pseudo state name
// value: pesudo state selector
$pseudos: (
    active: active,
    focus: focus,
    hover: hover,
);

// @description custom colors
// Used in background-color, border-color and color properties
$colors: (
    "black": #000,
    "white": #fff,
    "current": currentColor,
    "transparent": transparent,

    "light-100": hsl(0,0%,98%),
    "light-200": hsl(0,0%,96%),
    "light-300": hsl(0,0%,94%),
    "light-400": hsl(0,0%,92%),
    "light-500": hsl(0,0%,90%),
    "light-600": hsl(0,0%,88%),
    "light-700": hsl(0,0%,86%),
    "light-800": hsl(0,0%,84%),
    "light-900": hsl(0,0%,82%),

    "dark-100": hsl(240,8%,32%),
    "dark-200": hsl(240,8%,30%),
    "dark-300": hsl(240,8%,28%),
    "dark-400": hsl(240,8%,26%),
    "dark-500": hsl(240,8%,24%),
    "dark-600": hsl(240,8%,22%),
    "dark-700": hsl(240,8%,20%),
    "dark-800": hsl(240,8%,18%),
    "dark-900": hsl(240,8%,16%),

    "blue-100": hsl(215,96%,90%),
    "blue-200": hsl(215,96%,80%),
    "blue-300": hsl(215,96%,70%),
    "blue-400": hsl(215,96%,60%),
    "blue-500": hsl(215,96%,50%),
    "blue-600": hsl(215,96%,40%),
    "blue-700": hsl(215,96%,30%),
    "blue-800": hsl(215,96%,20%),
    "blue-900": hsl(215,96%,10%),

    "gray-100": hsl(220,20%,97%),
    "gray-200": hsl(210,11%,93%),
    "gray-300": hsl(213,12%,85%),
    "gray-400": hsl(217,11%,68%),
    "gray-500": hsl(219, 9%,50%),
    "gray-600": hsl(215,14%,34%),
    "gray-700": hsl(218,19%,26%),
    "gray-800": hsl(214,28%,16%),
    "gray-900": hsl(221,37%,10%),

    "green-100": hsl(145,45%,90%),
    "green-200": hsl(145,45%,80%),
    "green-300": hsl(145,45%,70%),
    "green-400": hsl(145,45%,60%),
    "green-500": hsl(145,45%,50%),
    "green-600": hsl(145,45%,40%),
    "green-700": hsl(145,45%,30%),
    "green-800": hsl(145,45%,20%),
    "green-900": hsl(145,45%,10%),

    "indigo-100": hsl(263,90%,90%),
    "indigo-200": hsl(263,90%,80%),
    "indigo-300": hsl(263,90%,70%),
    "indigo-400": hsl(263,90%,60%),
    "indigo-500": hsl(263,90%,50%),
    "indigo-600": hsl(263,90%,40%),
    "indigo-700": hsl(263,90%,30%),
    "indigo-800": hsl(263,90%,20%),
    "indigo-900": hsl(263,90%,10%),

    "orange-100": hsl(27,98%,90%),
    "orange-200": hsl(27,98%,80%),
    "orange-300": hsl(27,98%,70%),
    "orange-400": hsl(27,98%,60%),
    "orange-500": hsl(27,98%,50%),
    "orange-600": hsl(27,98%,40%),
    "orange-700": hsl(27,98%,30%),
    "orange-800": hsl(27,98%,20%),
    "orange-900": hsl(27,98%,10%),

    "pink-100": hsl(330,65%,90%),
    "pink-200": hsl(330,65%,80%),
    "pink-300": hsl(330,65%,70%),
    "pink-400": hsl(330,65%,60%),
    "pink-500": hsl(330,65%,50%),
    "pink-600": hsl(330,65%,40%),
    "pink-700": hsl(330,65%,30%),
    "pink-800": hsl(330,65%,20%),
    "pink-900": hsl(330,65%,10%),

    "teal-100": hsl(175,80%,90%),
    "teal-200": hsl(175,80%,80%),
    "teal-300": hsl(175,80%,70%),
    "teal-400": hsl(175,80%,60%),
    "teal-500": hsl(175,80%,50%),
    "teal-600": hsl(175,80%,40%),
    "teal-700": hsl(175,80%,30%),
    "teal-800": hsl(175,80%,20%),
    "teal-900": hsl(175,80%,10%),

    "yellow-100": hsl(45,100%,90%),
    "yellow-200": hsl(45,100%,80%),
    "yellow-300": hsl(45,100%,70%),
    "yellow-400": hsl(45,100%,60%),
    "yellow-500": hsl(45,100%,50%),
    "yellow-600": hsl(45,100%,40%),
    "yellow-700": hsl(45,100%,30%),
    "yellow-800": hsl(45,100%,20%),
    "yellow-900": hsl(45,100%,10%),
) !default;

// @description list of enabled / disabled utilities
$utilities: () !default;

// @description variants definitions
$align-content-v: ("default", "responsive") !default;
$align-items-v: ("default", "responsive") !default;
$align-self-v: ("default", "responsive") !default;
$background-color-v: ("default", "hover", "focus", "dark") !default;
$background-repeat-v: ("default") !default;
$background-size-v: ("default") !default;
$border-color-v: ("default", "hover", "focus", "dark") !default;
$border-radius-v: ("default") !default;
$border-style-v: ("default") !default;
$border-width-v: ("default", "responsive") !default;
$bottom-v: ("default", "responsive") !default;
$box-shadow-v: ("default") !default;
$cursor-v: ("default") !default;
$display-v: ("default", "responsive") !default;
$flex-v: ("default", "responsive") !default;
$flex-direction-v: ("default", "responsive") !default;
$flex-grow-v: ("default", "responsive") !default;
$flex-shrink-v: ("default", "responsive") !default;
$flex-wrap-v: ("default", "responsive") !default;
$float-v: ("default") !default;
$font-family-v: ("default") !default;
$font-size-v: ("default", "responsive") !default;
$font-style-v: ("default") !default;
$font-weight-v: ("default", "hover", "responsive") !default;
$gap-v: ("default", "responsive") !default;
$grid-template-columns-v: ("default", "responsive") !default;
$grid-template-rows-v: ("default", "responsive") !default;
$height-v: ("default", "responsive") !default;
$justify-content-v: ("default", "responsive") !default;
$left-v: ("default", "responsive") !default;
$line-height-v: ("default", "responsive") !default;
$margin-v: ("default", "responsive") !default;
$max-height-v: ("default", "responsive") !default;
$max-width-v: ("default", "responsive") !default;
$min-height-v: ("default", "responsive") !default;
$min-width-v: ("default", "responsive") !default;
$opacity-v: ("default", "responsive", "hover", "focus") !default;
$order-v: ("default", "responsive") !default;
$overflow-v: ("default", "responsive") !default;
$padding-v: ("default", "responsive") !default;
$position-v: ("default", "responsive") !default;
$right-v: ("default", "responsive") !default;
$text-align-v: ("default", "responsive") !default;
$text-color-v: ("default", "hover", "focus", "active", "dark") !default;
$text-decoration-v: ("default", "hover", "responsive") !default;
$text-transform-v: ("default", "hover", "responsive") !default;
$top-v: ("default", "responsive") !default;
$user-select-v: ("default") !default;
$vertical-align-v: ("default") !default;
$width-v: ("default", "responsive") !default;
$z-index-v: ("default", "responsive") !default;

// @description values configuration
$align-content: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
    evenly: space-evenly,
) !default;

$align-items: (
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline,
) !default;

$align-self: (
    auto: auto,
    start: flex-start,
    end: flex-end,
    center: center,
    stretch: stretch,
    baseline: baseline,
) !default;

$background-color: $colors !default;

$background-repeat: (
    repeat: repeat,
    no-repeat: no-repeat,
) !default;

$background-size: (
    auto: auto,
    cover: cover, 
    contain: contain,
) !default;

$border-color: $colors !default;

$border-radius: (
    0: 0px,
    sm: 0.25rem,
    md: 0.5rem,
    lg: 0.75rem,
    xl: 1rem,
    full: 9999px,
    none: 0px,
) !default;

$border-style: (
    solid: solid,
    dashed: dashed,
    dotted: dotted,
    none: none,
) !default;

$border-width: (
    0: 0px,
    1: 0.125rem,
    2: 0.25rem,
    4: 0.5rem,
    6: 0.75rem,
    8: 1rem,
) !default;

$box-shadow: (
    sm: (0 0.25rem 1rem -0.125rem rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    md: (0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    lg: (0rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    none: none,
) !default;

$cursor: (
    hand: pointer,
    pointer: pointer,
    move: move,
    none: none,
    zoom-in: zoom-in,
    zoom-out: zoom-out,
    not-allowed: not-allowed,
) !default;

$display: (
    none: none,
    inline: inline,
    block: block,
    inline-block: inline-block,
    flex: flex,
    inline-flex: inline-flex,
    grid: grid,
    inline-grid: inline-grid,
) !default;

$flex: (
    none: none,
    initial: initial,
    auto: auto,
) !default;

$flex-direction: (
    row: row, 
    col: column, 
    row-reverse: row-reverse, 
    col-reverse: column-reverse,
) !default;

$flex-grow: (
    grow-0: 0,
    grow-1: 1,
    grow-2: 2,
    grow-3: 3,
    grow-4: 4,
    grow-5: 5,
    grow-6: 6,
) !default;

$flex-shrink: (
    shrink-0: 0,
    shrink-1: 1,
    shrink-2: 2,
    shrink-3: 3,
    shrink-4: 4,
    shrink-5: 5,
    shrink-6: 6,
) !default;

$flex-wrap: (
    wrap: wrap,
    wrap-reverse: wrap-reverse,
    no-wrap: nowrap,
) !default;

$float: (
    left: left,
    right: right,
    none: none,
) !default;

$font-family: (
    sans-serif: (-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif),
    serif: (Georgia, Cambria, "Times New Roman", Times, serif),
    mono: (SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace),
    inter: ("Inter", sans-serif),
) !default;

$font-size: (
    xs: 0.75rem,
    sm: 0.875rem,
    md: 16px,
    lg: 1.25rem,
    xl: 1.5rem,
    2xl: 2rem,
    3xl: 2.5rem,
    4xl: 3rem,
    5xl: 3.5rem,
) !default;

$font-style: (
    italic: italic,
    not-italic: normal,
) !default;

$font-weight: (
    thin: 100,
    extralight: 200,
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
    extrabold: 800,
    "black": 900,
) !default;

$gap: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    12: 3rem,
    16: 4rem,
    24: 6rem,
    32: 8rem,
) !default;

$grid-template-columns: (
    1: repeat(1, minmax(0, 1fr)),
    2: repeat(2, minmax(0, 1fr)),
    3: repeat(3, minmax(0, 1fr)),
    4: repeat(4, minmax(0, 1fr)),
    5: repeat(5, minmax(0, 1fr)),
    6: repeat(6, minmax(0, 1fr)),
    7: repeat(7, minmax(0, 1fr)),
    8: repeat(8, minmax(0, 1fr)),
    9: repeat(9, minmax(0, 1fr)),
    10: repeat(10, minmax(0, 1fr)),
    11: repeat(11, minmax(0, 1fr)),
    12: repeat(12, minmax(0, 1fr)),
    none: none,
) !default;

$grid-template-rows: (
    1: repeat(1, minmax(0, 1fr)),
    2: repeat(2, minmax(0, 1fr)),
    3: repeat(3, minmax(0, 1fr)),
    4: repeat(4, minmax(0, 1fr)),
    5: repeat(5, minmax(0, 1fr)),
    6: repeat(6, minmax(0, 1fr)),
    none: none,
) !default;

$height: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    12: 3rem,
    16: 4rem,
    24: 6rem,
    32: 8rem,
    40: 10rem,
    48: 12rem,
    64: 16rem,
    80: 20rem,
    96: 24rem,
    half: 50%,
    full: 100%,
    screen: 100vh,
) !default;

$inset: (
    0: 0px,
    half: 50%,
    full: 100%,
    auto: auto,
) !default;

$justify-content: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
) !default;

$line-height: (
    none: 1,
    tight: 1.25,
    snug: 1.375,
    normal: 1.5,
    relaxed: 1.625,
    loose: 2,
) !default;

$margin: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    10: 2.5rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    18: 4.5rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
    auto: auto,
) !default;

$max-height: (
    0: 0px,
    full: 100%,
    screen: 100vh
) !default;

$max-width: (
    0: 0px,
    full: 100%,
    screen: 100vw,
) !default;

$min-height: (
    0: 0px,
    full: 100%,
    screen: 100vh
) !default;

$min-width: (
    0: 0px,
    full: 100%,
    screen: 100vw,
) !default;

$opacity: (
    0: 0,
    10: 0.1,
    20: 0.2,
    30: 0.3,
    40: 0.4,
    50: 0.5,
    60: 0.6,
    70: 0.7,
    80: 0.8,
    90: 0.9,
    100: 100,
) !default;

$order: (
    none: 0,
    first: -999,
    last: 999,
    1: 1,
    2: 2,
    3: 3,
    4: 4,
    5: 5,
    6: 6,
    7: 7,
    8: 8,
    9: 9,
    10: 10,
    11: 11,
    12: 12,
) !default;

$overflow: (
    auto: auto,
    scroll: scroll,
    hidden: hidden,
    visible: visible,
) !default;

$padding: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    10: 2.5rem,
    12: 3rem,
    14: 3.5rem,
    16: 4rem,
    18: 4.5rem,
    20: 5rem,
    24: 6rem,
    28: 7rem,
    32: 8rem,
) !default;

$position: (
    relative: relative,
    absolute: absolute,
    sticky: sticky,
    fixed: fixed,
    initial: initial,
) !default;

$text-align: (
    justify: justify, 
    left: left, 
    center: center, 
    right: right,
) !default;

$text-color: $colors !default;

$text-decoration: (
    strike: line-through,
    underline: underline,
    no-underline: none,
) !default;

$text-transform: (
    capitalize: capitalize,
    uppercase: uppercase,
    lowercase: lowercase,
) !default;

$user-select: (
    none: none,
    text: text,
    all: all,
    auto: auto,
) !default;

$vertical-align: (
    baseline: baseline,
    top: top,
    middle: middle,
    bottom: bottom,
    text-top: text-top,
    text-bottom: text-bottom,
) !default;

$width: (
    0: 0px,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    6: 1.5rem,
    8: 2rem,
    12: 3rem,
    16: 4rem,
    24: 6rem,
    32: 8rem,
    40: 10rem,
    48: 12rem,
    64: 16rem,
    80: 20rem,
    96: 24rem,
    auto: auto,
    half: 50%,
    full: 100%,
    screen: 100vw,
) !default;

$z-index: (
    auto: auto,
    0: 0,
    1: 10,
    2: 20,
    3: 30,
    4: 40,
    5: 50,
    6: 60,
    7: 70,
    8: 80,
    9: 90,
    10: 100,
) !default;
