// @description global flags
$use-important-flag: false !default;
// $use-reset: true !default;

// @description classnames prefix
// Used to avoid collissions with other css frameworks
$prefix: "" !default;

// @description include and exclude lists
$include: () !default;
$exclude: () !default;

// @description custom breakpoints
$breakpoints: (
    "sm": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
) !default;

// @description custom border widths
// Used in border-width property
$borders: (
    "0": 0px,
    "1": 0.125rem,
    "2": 0.25rem,
    "4": 0.5rem,
) !default;

// @description custom colors
// Used in background-color, border-color and color properties
$colors: (
    "black": #000,
    "white": #fff,
    "current": currentColor,
    "transparent": transparent,

    "light100": hsl(0,0%,98%),
    "light200": hsl(0,0%,96%),
    "light300": hsl(0,0%,94%),
    "light400": hsl(0,0%,92%),
    "light500": hsl(0,0%,90%),
    "light600": hsl(0,0%,88%),
    "light700": hsl(0,0%,86%),
    "light800": hsl(0,0%,84%),
    "light900": hsl(0,0%,82%),

    "dark100": hsl(240,8%,32%),
    "dark200": hsl(240,8%,30%),
    "dark300": hsl(240,8%,28%),
    "dark400": hsl(240,8%,26%),
    "dark500": hsl(240,8%,24%),
    "dark600": hsl(240,8%,22%),
    "dark700": hsl(240,8%,20%),
    "dark800": hsl(240,8%,18%),
    "dark900": hsl(240,8%,16%),

    "blue100": hsl(215,96%,90%),
    "blue200": hsl(215,96%,80%),
    "blue300": hsl(215,96%,70%),
    "blue400": hsl(215,96%,60%),
    "blue500": hsl(215,96%,50%),
    "blue600": hsl(215,96%,40%),
    "blue700": hsl(215,96%,30%),
    "blue800": hsl(215,96%,20%),
    "blue900": hsl(215,96%,10%),

    "gray100": hsl(220,20%,97%),
    "gray200": hsl(210,11%,93%),
    "gray300": hsl(213,12%,85%),
    "gray400": hsl(217,11%,68%),
    "gray500": hsl(219, 9%,50%),
    "gray600": hsl(215,14%,34%),
    "gray700": hsl(218,19%,26%),
    "gray800": hsl(214,28%,16%),
    "gray900": hsl(221,37%,10%),

    "green100": hsl(145,45%,90%),
    "green200": hsl(145,45%,80%),
    "green300": hsl(145,45%,70%),
    "green400": hsl(145,45%,60%),
    "green500": hsl(145,45%,50%),
    "green600": hsl(145,45%,40%),
    "green700": hsl(145,45%,30%),
    "green800": hsl(145,45%,20%),
    "green900": hsl(145,45%,10%),

    "indigo100": hsl(263,90%,90%),
    "indigo200": hsl(263,90%,80%),
    "indigo300": hsl(263,90%,70%),
    "indigo400": hsl(263,90%,60%),
    "indigo500": hsl(263,90%,50%),
    "indigo600": hsl(263,90%,40%),
    "indigo700": hsl(263,90%,30%),
    "indigo800": hsl(263,90%,20%),
    "indigo900": hsl(263,90%,10%),

    "orange100": hsl(27,98%,90%),
    "orange200": hsl(27,98%,80%),
    "orange300": hsl(27,98%,70%),
    "orange400": hsl(27,98%,60%),
    "orange500": hsl(27,98%,50%),
    "orange600": hsl(27,98%,40%),
    "orange700": hsl(27,98%,30%),
    "orange800": hsl(27,98%,20%),
    "orange900": hsl(27,98%,10%),

    "pink100": hsl(330,65%,90%),
    "pink200": hsl(330,65%,80%),
    "pink300": hsl(330,65%,70%),
    "pink400": hsl(330,65%,60%),
    "pink500": hsl(330,65%,50%),
    "pink600": hsl(330,65%,40%),
    "pink700": hsl(330,65%,30%),
    "pink800": hsl(330,65%,20%),
    "pink900": hsl(330,65%,10%),

    "teal100": hsl(175,80%,90%),
    "teal200": hsl(175,80%,80%),
    "teal300": hsl(175,80%,70%),
    "teal400": hsl(175,80%,60%),
    "teal500": hsl(175,80%,50%),
    "teal600": hsl(175,80%,40%),
    "teal700": hsl(175,80%,30%),
    "teal800": hsl(175,80%,20%),
    "teal900": hsl(175,80%,10%),

    "yellow100": hsl(45,100%,90%),
    "yellow200": hsl(45,100%,80%),
    "yellow300": hsl(45,100%,70%),
    "yellow400": hsl(45,100%,60%),
    "yellow500": hsl(45,100%,50%),
    "yellow600": hsl(45,100%,40%),
    "yellow700": hsl(45,100%,30%),
    "yellow800": hsl(45,100%,20%),
    "yellow900": hsl(45,100%,10%),
) !default;

// @description custom fonts
// Used in font-family property
$fonts: (
    "inter": ("Inter", sans-serif),
) !default;

// @description custom font sizes
// Used in font-size property
$font-sizes: (
    "xs": 0.75rem,
    "sm": 0.875rem,
    "base": 16px,
    "lg": 1.25rem,
    "xl": 1.5rem,
    "2xl": 2rem,
    "3xl": 2.5rem,
    "4xl": 3rem,
    "5xl": 3.5rem,
) !default;

// @description custom inset values
// Used in bottom, left, right and top properties
$inset: (
    "0": 0px,
    "full": 100%,
    "auto": auto,
) !default;

// @description custom opacities
// Used in opacity property
$opacities: (
    "0": 0,
    "10": 0.1,
    "20": 0.2,
    "30": 0.3,
    "40": 0.4,
    "50": 0.5,
    "60": 0.6,
    "70": 0.7,
    "80": 0.8,
    "90": 0.9,
    "100": 100,
) !default;

// @description custom border radius
// Used in border-radius properties
$radius: (
    "sm": 0.25rem,
    "default": 0.5rem,
    "base": 0.5rem,
    "lg": 0.75rem,
    "xl": 1rem,
) !default;

// @description custom shadows
// Used in box-shadow properties
$shadows: (
    "sm": (0 0.25rem 1rem -0.125rem rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    "md": (0 0.5rem 1rem -0.25rem rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.02)),
    "lg": (0rem 1rem 1rem -0.5rem rgba(0, 0, 0, 0.25), 0 0 0 1px rgba(0, 0, 0, 0.02)),
) !default;

// @description custom sizes
// Used in width and height properties
$sizes: (
    "0": 0px,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem,
    "6": 1.5rem,
    "8": 2rem,
    "12": 3rem,
    "16": 4rem,
    "24": 6rem,
    "32": 8rem,
    "40": 10rem,
    "48": 12rem,
    "64": 16rem,
    "80": 20rem,
    "96": 24rem,
) !default;

// @description custom space sizes
// Used in margin, padding and gap properties
$space: (
    "0": 0px,
    "1": 0.25rem,
    "2": 0.5rem,
    "3": 0.75rem,
    "4": 1rem,
    "6": 1.5rem,
    "8": 2rem,
    "12": 3rem,
    "16": 4rem,
    "24": 6rem,
    "32": 8rem,
) !default;
