@use "variables";

:root {
    // global variables
    --low-markup-color: #{variables.$neutral-900};
    --low-markup-line-height: 1.75;

    // paragraph variables
    --low-markup-paragraph-line-height: 1.75rem;
    --low-markup-paragraph-margin-top: 0px;
    --low-markup-paragraph-margin-bottom: 1rem;

    // lead paragraph variables
    --low-markup-lead-color: #{variables.$neutral-700};
    --low-markup-lead-font-size: 1.25rem;
    --low-markup-lead-line-height: 1.75rem;

    // bold text variables
    // --low-markup-bold-color: #{variables.$neutral-900};
    --low-markup-bold-font-weight: 600;

    // inline code variables
    --low-markup-code-bg: #{variables.$neutral-100};
    --low-markup-code-color: #{variables.$neutral-900};
    --low-markup-code-font-size: 0.875rem;
    --low-markup-code-font-family: #{variables.$font-mono};
    --low-markup-code-font-weight: 600;
    --low-markup-code-line-height: 1.25rem;
    --low-markup-code-padding-y: 0.2rem;
    --low-markup-code-padding-x: 0.3rem;
    --low-markup-code-radius: 0.25rem;

    // block code variables
    --low-markup-pre-bg: #{variables.$neutral-950};
    --low-markup-pre-color: #{variables.$neutral-50};
    --low-markup-pre-font-size: 0.875rem;
    --low-markup-pre-font-family: #{variables.$font-mono};
    --low-markup-pre-font-weight: 400;
    --low-markup-pre-line-height: 1.75rem;
    --low-markup-pre-padding-y: 1.25rem;
    --low-markup-pre-padding-x: 1.25rem;
    --low-markup-pre-radius: 0.375rem;
    --low-markup-pre-margin-top: 1.5rem;
    --low-markup-pre-margin-bottom: 1.5rem;

    // blockquote variables
    // --low-markup-blockquote-color: #{variables.$neutral-900};
    --low-markup-blockquote-border-color: #{variables.$neutral-200};
    --low-markup-blockquote-border-width: 2px;
    --low-markup-blockquote-margin-top: 1rem;
    --low-markup-blockquote-margin-bottom: 1rem;

    // heading variables
    --low-markup-h1-font-size: 2.25rem;
    --low-markup-h1-font-weight: 800;
    --low-markup-h1-line-height: 2.5rem;
    --low-markup-h1-margin-bottom: 1rem;
    --low-markup-h1-margin-top: 2.5rem;

    --low-markup-h2-font-size: 1.875rem;
    --low-markup-h2-font-weight: 600;
    --low-markup-h2-line-height: 2.25rem;
    --low-markup-h2-margin-top: 2.5rem;
    --low-markup-h2-margin-bottom: 1rem;
    --low-markup-h2-border-bottom-width: 1px;
    --low-markup-h2-border-bottom-color: #{variables.$neutral-200};
    --low-markup-h2-padding-bottom: 0.5rem;
    --low-markup-h2-padding-top: 0px;

    --low-markup-h3-font-size: 1.5rem;
    --low-markup-h3-font-weight: 600;
    --low-markup-h3-line-height: 2rem;
    --low-markup-h3-margin-top: 2rem;
    --low-markup-h3-margin-bottom: 1rem;

    --low-markup-h4-font-size: 1.25rem;
    --low-markup-h4-font-weight: 600;
    --low-markup-h4-line-height: 1.75rem;
    --low-markup-h4-margin-top: 1.75rem;
    --low-markup-h4-margin-bottom: 1rem;

    // horizontal rule variables
    --low-markup-hr-bg: #{variables.$neutral-200};
    --low-markup-hr-height: 1px;
    --low-markup-hr-margin-top: 3rem;
    --low-markup-hr-margin-bottom: 3rem;

    // link variables
    --low-markup-link-color: #{variables.$neutral-900};
    --low-markup-link-font-weight: 500;
    --low-markup-link-underline-offset: 4px;

    // list variables
    --low-markup-ul-margin-bottom: 1.25rem;
    --low-markup-ul-margin-top: 1.25rem;
    --low-markup-ul-padding-left: 1.625rem;
    --low-markup-li-margin-bottom: 0.5rem;
    --low-markup-li-margin-top: 0;

    // table variables
    --low-markup-table-margin-bottom: 1.5rem;
    --low-markup-table-margin-top: 1.5rem;

    --low-markup-thead-color: #{variables.$neutral-900};
    --low-markup-thead-font-weight: 600;
    --low-markup-thead-border-width: 1px;
    --low-markup-thead-border-color: #{variables.$neutral-200};
    --low-markup-thead-padding-y: 0.5rem;
    --low-markup-thead-padding-x: 1rem;

    --low-markup-tbody-bg: #{variables.$neutral-100};
    --low-markup-tbody-border-width: 1px;
    --low-markup-tbody-border-color: #{variables.$neutral-200};
    --low-markup-tbody-padding-y: 0.5rem;
    --low-markup-tbody-padding-x: 1rem;
}

.markup {
    color: var(--low-markup-color);
    line-height: var(--low-markup-line-height);
    // Default paragraphs
    & :where(p) {
        line-height: var(--low-markup-paragraph-line-height);
        margin-top: var(--low-markup-paragraph-margin-top);
        margin-bottom: var(--low-markup-paragraph-margin-bottom);
    }
    // Lead paragraphs
    & :where(p[class~="lead"]) {
        color: var(--low-markup-lead-color);
        font-size: var(--low-markup-lead-font-size);
        line-height: var(--low-markup-lead-line-height);
    }
    // Bold text
    & :where(b, strong) {
        // color: var(--low-markup-bold);
        font-weight: var(--low-markup-bold-font-weight);
    }
    // inline code
    & :where(code) {
        background-color: var(--low-markup-code-bg);
        color: var(--low-markup-code-color);
        font-size: var(--low-markup-code-font-size);
        font-family: var(--low-markup-code-font-family);
        font-weight: var(--low-markup-code-font-weight);
        line-height: var(--low-markup-code-line-height);
        padding: var(--low-markup-code-padding-y) var(--low-markup-code-padding-x);
        border-radius: var(--low-markup-code-radius);
        position: relative;
    }
    // Block code
    & :where(pre) {
        background-color: var(--low-markup-pre-bg);
        border-radius: var(--low-markup-pre-radius);
        color: var(--low-markup-pre-color);
        font-size: var(--low-markup-pre-font-size);
        font-weight: var(--low-markup-pre-font-weight);
        line-height: var(--low-markup-pre-line-height);
        margin-top: var(--low-markup-pre-margin-top);
        margin-bottom: var(--low-markup-pre-margin-bottom);
        overflow-x: auto;
        padding: var(--low-markup-pre-padding-y) var(--low-markup-pre-padding-x);
        & code {
            background-color: transparent;
            color: inherit;
            border-width: 0;
            border-radius: 0;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0;
        }
    }
    // Blockquote
    & :where(blockquote) {
        border-left-color: var(--low-markup-blockquote-border-color);
        border-left-width: var(--low-markup-blockquote-border-width);
        color: var(--low-markup-quote-body);
        font-style: italic;
        font-weight: 500;
        margin-bottom: var(--low-markup-blockquote-margin-bottom);
        margin-top: var(--low-markup-blockquote-margin-top);
        padding-left: 1em;
    }
    // Headings
    & :where(h1) {
        font-size: var(--low-markup-h1-font-size);
        font-weight: var(--low-markup-h1-font-weight);
        line-height: var(--low-markup-h1-line-height);
        margin-bottom: var(--low-markup-h1-margin-bottom);
        margin-top: var(--low-markup-h1-margin-top);
    }
    & :where(h2) {
        font-size: var(--low-markup-h2-font-size);
        font-weight: var(--low-markup-h2-font-weight);
        line-height: var(--low-markup-h2-line-height);
        margin-bottom: var(--low-markup-h2-margin-bottom);
        margin-top: var(--low-markup-h2-margin-top);
        border-bottom-color: var(--low-markup-h2-border-bottom-color);
        border-bottom-width: var(--low-markup-h2-border-bottom-width);
        border-bottom-style: solid;
        padding-bottom: var(--low-markup-h2-padding-bottom);
        padding-top: var(--low-markup-h2-padding-top);
    }
    & :where(h3) {
        font-size: var(--low-markup-h3-font-size);
        font-weight: var(--low-markup-h3-font-weight);
        line-height: var(--low-markup-h3-line-height);
        margin-bottom: var(--low-markup-h3-margin-bottom);
        margin-top: var(--low-markup-h3-margin-top);
    }
    & :where(h4) {
        font-size: var(--low-markup-h4-font-size);
        font-weight: var(--low-markup-h4-font-weight);
        line-height: var(--low-markup-h4-line-height);
        margin-bottom: var(--low-markup-h4-margin-bottom);
        margin-top: var(--low-markup-h4-margin-top);
    }
    // Horizontal rule
    & :where(hr) {
        border-color: var(--low-markup-hr-bg);
        border-top-width: var(--low-markup-hr-height);
        height: 0px;
        margin-top: var(--low-markup-hr-margin-top);
        margin-bottom: var(--low-markup-hr-margin-bottom);
    }
    // Links
    & :where(a) {
        color: var(--low-markup-link-color);
        font-weight: var(--low-markup-link-font-weight);
        text-decoration: underline;
        text-underline-offset: var(--low-markup-link-underline-offset);
    }
    // List
    & :where(ul, ol) {
        margin-bottom: var(--low-markup-ul-margin-bottom);
        margin-top: var(--low-markup-ul-margin-top);
        padding-left: var(--low-markup-ul-padding-left);
        & > li {
            padding-left: 0.25em;
        }
    }
    & :where(ul) {
        list-style-type: disc;
    }
    & :where(ol) {
        list-style-type: decimal;
    }
    & :where(li) {
        margin-bottom: var(--low-markup-li-margin-bottom);
        margin-top: var(--low-markup-li-margin-top);
    }
    // Table
    & :where(table) {
        margin-bottom: var(--low-markup-table-margin-bottom);
        margin-top: var(--low-markup-table-margin-top);
        table-layout: auto;
        text-align: left;
        width: 100%;
    }
    & :where(thead th) {
        color: var(--low-markup-thead-color);
        font-weight: var(--low-markup-thead-font-weight);
        vertical-align: bottom;
    }
    & :where(thead th) {
        border: var(--low-markup-thead-border-width) solid var(--low-markup-thead-border-color);
        padding: var(--low-markup-thead-padding-y) var(--low-markup-thead-padding-x);
    }
    & :where(tbody td) {
        border: var(--low-markup-tbody-border-width) solid var(--low-markup-tbody-border-color);
        padding: var(--low-markup-tbody-padding-y) var(--low-markup-tbody-padding-x);
    }
    // & :where(thead tr, tbody tr:nth-child(2n + 1)) {
    //     background-color: var(--low-markup-table-bg-default);
    // }
    & :where(tbody tr:nth-child(2n)) {
        background-color: var(--low-markup-tbody-bg);
    }
    & :where(tbody tr) {
        vertical-align: baseline;
    }
    // First or last childs
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}
