@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

@use "functions";
@use "variables";
@use "utilities";

// @description generate media screen above the specified breakpoint
@mixin screen-above($breakpoint) {
    // TODO: display an error message if breakpoint is not found
    $breakpoint-size: map.get(variables.$breakpoints, $breakpoint);
    @media screen and (min-width: $breakpoint-size) {
        @content;
    }
}

// @description generate media screen below the specified breakpoint
@mixin screen-below($breakpoint) {
    // TODO: display an error message if breakpoint is not found
    $breakpoint-size: map.get(variables.$breakpoints, $breakpoint);
    @media screen and (max-width: $breakpoint-size) {
        @content;
    }
}

// @description generate media screen between the two breakpoints
@mixin screen-between($breakpoint-lower, $breakpoint-higher) {
    // TODO: display an error message if breakpoint is not found
    $lower: map.get(variables.$breakpoints, $breakpoint-lower);
    $higher: map.get(variables.$breakpoints, $breakpoint-higher);
    @media screen and (min-width: $lower) and (max-width: $higher) {
        @content;
    }
}

// @description Generate a rule
@mixin rule($properties, $value) {
    // $properties: $props;
    // We need to make sure that $properties is a list
    @if meta.type-of($properties) != "list" {
        $properties: list.append((), $properties);
    }
    @each $property in $properties {
        @if variables.$important {
            #{string.unquote($property)}: #{$value} !important;
        }
        @else {
            #{string.unquote($property)}: #{$value};
        }
    }
}

// @description Generate the utility from the given configuration
@mixin utility($utility-config) {
    $classname: map.get($utility-config, "classname");
    $properties: map.get($utility-config, "properties");
    $values: map.get($utility-config, "values");
    $variants: map.get($utility-config, "variants");
    // Check if the variants list includes the "default" variant
    // @if not functions.list-includes($variants, "default") {
    //     $variants: list.join(("default"), $variants);
    // }
    // Generate utilities for each variant
    @each $variant in $variants {
        @each $key,$value in $values {
            $selector: "#{variables.$prefix}#{$key}";
            // Check if classname has been provided for building the selector
            @if meta.type-of($classname) == "string" and $classname != "" {
                $selector: "#{variables.$prefix}#{$classname}-#{$key}";
                // Check for default key --> remove this from selector
                @if $key == "DEFAULT" {
                    $selector: "#{variables.$prefix}#{$classname}";
                }
            }
            $selector: functions.escape-selector($selector);
            // Default selector for this utility
            @if $variant == "default" {
                .#{$selector} {
                    @include rule($properties, $value);
                }
            }
            // For responsive modifiers, we will register the style
            // for each breakpoint in the list of breakpoints
            @else if $variant == "responsive" and meta.type-of(variables.$breakpoints) == "map" {
                @each $breakpoint in map.keys(variables.$breakpoints) {
                    @include screen-above($breakpoint) {
                        .#{$breakpoint}#{variables.$separator}#{$selector} {
                            @include rule($properties, $value);
                        }
                    }
                }
            }
            // Pseudo modifiers
            @else if map.has-key(variables.$pseudos, $variant) {
                $pseudo: $variant;
                $pseudo-selector: map.get(variables.$pseudos, $pseudo);
                // Group selector
                @if functions.str-starts-with($pseudo, "group-") {
                    .group#{$pseudo-selector} .#{$pseudo}#{variables.$separator}#{$selector} {
                        @include rule($properties, $value);
                    }
                }
                // Peer selector
                @else if functions.str-starts-with($pseudo, "peer-") {
                    .peer#{$pseudo-selector}~.#{$pseudo}#{variables.$separator}#{$selector} {
                        @include rule($properties, $value);
                    }
                }
                // Default pseudo selector
                @else {
                    .#{$pseudo}#{variables.$separator}#{$selector}#{$pseudo-selector} {
                        @include rule($properties, $value);
                    }
                }
            }
            // Print state
            @else if $variant == "print" {
                @media print {
                    .print#{variables.$separator}#{$selector} {
                        @include rule($properties, $value);
                    }
                }
            }
            // TODO: display no valid variant error
        }
    }
}

// @description include utilities
@mixin utilities() {
    @each $utility-name,$utility-config in utilities.$utilities {
        @include utility($utility-config);
    }
}

// @description utility mixin to apply utilities
@mixin apply($utilities-str) {
    $utilities-list: functions.str-split($utilities-str, " ");
    $sep: functions.str-replace(variables.$separator, "\\", ""); // parsed separator
    @each $utility in $utilities-list {
        // @if variables.$prefix != "" {
        //     $utility-alias: functions.str-replace($utility-alias, variables.$prefix, "");
        // }
        // 1. check if the utility has a separator
        $variant: null; // store the variant (pseudo, breakpoint, or print)
        @if string.index($utility, $sep) != null {
            $utility-items: functions.str-split($utility, $sep);
            $variant: list.nth($utility-items, 1);
            $utility: list.nth($utility-items, 2);
        }
        // 2. get the properties and values of the utility
        $utility-parsed: utilities.parse-utility($utility);
        @if $utility-parsed == null {
            @error "Utility '#{$utility}' not found.";
        }
        $properties: map.get($utility-parsed, "properties");
        $value: map.get($utility-parsed, "value");
        // 3. apply the utility
        // 3.1. check for default utility
        @if $variant == null {
            @include rule($properties, $value);
        }
        // 3.2. check for breakpoint
        @else if map.has-key(variables.$breakpoints, $variant) {
            @include screen-above($variant) {
                @include rule($properties, $value);
            }
        }
        // 3.3. check for pseudo
        @else if map.has-key(variables.$pseudos, $variant) {
            $pseudo: map.get(variables.$pseudos, $variant);
            &#{$pseudo} {
                @include rule($properties, $value);
            }
        }
        // 3.4. check for print
        @else if $variant == "print" {
            @media print {
                & {
                    @include rule($properties, $value);
                }
            }
        }
        // 3.5. display an error message if the variant is not found
        @else {
            @error "Variant '#{$variant}' not found in utility '#{$utility}'";
        }
    }
} 
