@use "sass:map";

@use "mixins";
@use "utilities";

// @description tiny mixin to extend utilities for theme variables
@mixin extend-utilities($utilities-names, $values) {
    @each $name in $utilities-names {
        @include mixins.utility((
            "classname": map.get(utilities.$utilities, $name, "classname"),
            "properties": map.get(utilities.$utilities, $name, "properties"),
            "variants": map.get(utilities.$utilities, $name, "variants"),
            "values": $values,
        ));
    }
};

// theme variables
$theme-colors: (
    "background": var(--low-background),
    "foreground": var(--low-foreground),
    "muted": var(--low-muted),
    "muted-foreground": var(--low-muted-foreground),
    "primary": var(--low-primary),
    "primary-foreground": var(--low-primary-foreground),
    "secondary": var(--low-secondary),
    "secondary-foreground": var(--low-secondary-foreground),
    "destructive": var(--low-destructive),
    "destructive-foreground": var(--low-destructive-foreground),
    "accent": var(--low-accent),
    "accent-foreground": var(--low-accent-foreground),
    "border": var(--low-border),
    "input": var(--low-input),
);
$theme-radiuses: (
    "DEFAULT": var(--low-radius),
);
$theme-shadows: (
    "DEFAULT": var(--low-shadow),
);

// extend color utilities
@include extend-utilities(("background-color", "border-color", "outline-color", "text-color", "text-decoration-color"), $theme-colors);
@include extend-utilities(("border-radius", "border-top-left-radius", "border-top-right-radius", "border-bottom-left-radius", "border-bottom-right-radius"), $theme-radiuses);
@include extend-utilities(("box-shadow"), $theme-shadows);

// base theme
:root {
    // default background color for the <body> element
    --low-background: var(--low-white);
    --low-foreground: var(--low-neutral-950);

    // color for muted elements (e.g. disabled inputs)
    --low-muted: var(--low-neutral-100);
    --low-muted-foreground: var(--low-neutral-500);

    // primary color
    --low-primary: var(--low-neutral-900);
    --low-primary-foreground: var(--low-white);

    // secondary color
    --low-secondary: var(--low-neutral-100);
    --low-secondary-foreground: var(--low-neutral-900);

    // destructive color
    --low-destructive: var(--low-red-500);
    --low-destructive-foreground: var(--low-white);

    // accent color
    --low-accent: var(--low-neutral-100);
    --low-accent-foreground: var(--low-neutral-900);

    // default border color
    --low-border: var(--low-neutral-200);

    // color used for <input> or <select> elements
    --low-input: var(--low-neutral-200);

    // default radius for elements with rounded corners
    --low-radius: var(--low-radius-lg);

    // default shadow
    --low-shadow: var(--low-shadow-sm);
}
