@use "sass:map";

@use "mixins";
@use "utilities";

// theming variables
$theming-colors: (
    "background": var(--low-background),
    "foreground": var(--low-foreground),
    "muted": var(--low-muted),
    "muted-foreground": var(--low-muted-foreground),
    "primary": var(--low-primary),
    "primary-foreground": var(--low-primary-foreground),
    "secondary": var(--low-secondary),
    "secondary-foreground": var(--low-secondary-foreground),
    "destructive": var(--low-destructive),
    "destructive-foreground": var(--low-destructive-foreground),
    "accent": var(--low-accent),
    "accent-foreground": var(--low-accent-foreground),
    "border": var(--low-border),
    "input": var(--low-input),
);
$theming-radiuses: (
    "DEFAULT": var(--low-radius),
);
$theming-shadows: (
    "DEFAULT": var(--low-shadow),
);

// theming utilities
$theming-utilities: (
    "background-color": (
        "values": $theming-colors,
    ),
    "border-color": (
        "values": $theming-colors,
    ),
    "outline-color": (
        "values": $theming-colors,
    ),
    "text-color": (
        "values": $theming-colors,
    ),
    "text-decoration-color": (
        "values": $theming-colors,
    ),
    "border-radius": (
        "values": $theming-radiuses,
    ),
    "border-top-left-radius": (
        "values": $theming-radiuses,
    ),
    "border-top-right-radius": (
        "values": $theming-radiuses,
    ),
    "border-bottom-left-radius": (
        "values": $theming-radiuses,
    ),
    "border-bottom-right-radius": (
        "values": $theming-radiuses,
    ),
    "box-shadow": (
        "values": $theming-shadows,
    ),
);

// @description mixin to generate theming utilities
@mixin theming() {
    // 1. Generate theming utilities
    @each $utility-name,$utility-config in $theming-utilities {
        @include mixins.utility((
            "classname": map.get(utilities.$utilities, $utility-name, "classname"),
            "properties": map.get(utilities.$utilities, $utility-name, "properties"),
            "variants": map.get(utilities.$utilities, $utility-name, "variants"),
            "values": map.get($utility-config, "values"),
        ));
    }
    // 2. base theme
    :root {
        // default background color for the <body> element
        --low-background: var(--low-white);
        --low-foreground: var(--low-neutral-950);

        // color for muted elements (e.g. disabled inputs)
        --low-muted: var(--low-neutral-100);
        --low-muted-foreground: var(--low-neutral-500);

        // primary color
        --low-primary: var(--low-neutral-900);
        --low-primary-foreground: var(--low-white);

        // secondary color
        --low-secondary: var(--low-neutral-100);
        --low-secondary-foreground: var(--low-neutral-900);

        // destructive color
        --low-destructive: var(--low-red-500);
        --low-destructive-foreground: var(--low-white);

        // accent color
        --low-accent: var(--low-neutral-100);
        --low-accent-foreground: var(--low-neutral-900);

        // default border color
        --low-border: var(--low-neutral-200);

        // color used for <input> or <select> elements
        --low-input: var(--low-neutral-200);

        // default radius for elements with rounded corners
        --low-radius: var(--low-radius-lg);

        // default shadow
        --low-shadow: var(--low-shadow-sm);
    }
}
