@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use "variables" as variables;
@use "utilities" as utilities;

@function json($arg) {
    $type: meta.type-of($arg);
    @if $type == "map" {
        $output: ();
        @each $key,$value in $arg {
            $output: list.append($output, "\"#{$key}\": #{json($value)}", $separator: comma);
        }
        @return "{#{$output}}";
    }
    @else if $type == "list" {
        @if list.length($arg) == 0 {
            @return "[]";
        }
        $output: ();
        @each $item in $arg {
            $output: list.append($output, json($item), $separator: comma);
        }
        @return "[#{$output}]";
    }
    @else if $type == "bool" {
        @return if($arg == true, "true", "false");
    }
    @else if $type == "null" {
        @return "null";
    }
    // @else if $type == "string" or $type == "color" {
    //     @return "\"#{$arg}\"";
    // }
    @else {
        @return "\"#{$arg}\"";
        // @return "#{$arg}";
    }
}

// Data to print
$data: (
    "version": "__version__",
    "prefix": variables.$prefix,
    "breakpoints": variables.$breakpoints,
    "variables": (
        "colors": variables.$colors,
        "font-families": variables.$font-families,
        "font-sizes": variables.$font-sizes,
        "font-weights": variables.$font-weights,
        "trackings": variables.$trackings,
        "leadings": variables.$leadings,
        "borders": variables.$borders,
        "spacing": variables.$spacing,
        "opacities": variables.$opacities,
        "raiuses": variables.$radiuses,
        "shadows": variables.$shadows,
    ),
    "utilities": utilities.$utilities,
);

/*!
#{json($data)}
*/
