@use "variables";

:root {
    // global variables
    --low-markup-color: #{variables.$neutral-900};

    // paragraph variables
    --low-markup-paragraph-line-height: 1.75;
    --low-markup-paragraph-margin-top: 0px;
    --low-markup-paragraph-margin-bottom: 1em;

    // lead paragraph variables
    --low-markup-lead-color: #{variables.$neutral-700};
    --low-markup-lead-font-size: 1.25rem;
    --low-markup-lead-line-height: 1.75;

    // bold text variables
    // --low-markup-bold-color: #{variables.$neutral-900};
    --low-markup-bold-font-weight: 600;

    // inline code variables
    --low-markup-code-bg: #{variables.$neutral-100};
    --low-markup-code-color: #{variables.$neutral-900};
    --low-markup-code-font-size: 0.875em;
    --low-markup-code-font-family: #{variables.$font-mono};
    --low-markup-code-font-weight: 600;
    --low-markup-code-line-height: 1.25;
    --low-markup-code-padding-y: 0.2rem;
    --low-markup-code-padding-x: 0.3rem;
    --low-markup-code-radius: 0.25rem;

    // block code variables
    --low-markup-pre-bg: #{variables.$neutral-950};
    --low-markup-pre-color: #{variables.$neutral-50};
    --low-markup-pre-font-size: 0.875em;
    --low-markup-pre-font-family: #{variables.$font-mono};
    --low-markup-pre-font-weight: 400;
    --low-markup-pre-line-height: 1.75;
    --low-markup-pre-padding-y: 1.25em;
    --low-markup-pre-padding-x: 1.25em;
    --low-markup-pre-radius: 0.375rem;
    --low-markup-pre-margin-top: 1.5em;
    --low-markup-pre-margin-bottom: 1.5em;

    // blockquote variables
    // --low-markup-blockquote-color: #{variables.$neutral-900};
    --low-markup-blockquote-border-color: #{variables.$neutral-200};
    --low-markup-blockquote-border-width: 0.25rem;
    --low-markup-blockquote-margin-top: 1em;
    --low-markup-blockquote-margin-bottom: 1em;



    --low-markup-body: #{variables.$neutral-800};
    --low-markup-lead: #{variables.$neutral-700};
    --low-markup-link: #{variables.$neutral-900};
    --low-markup-code: #{variables.$neutral-900};
    --low-markup-heading: #{variables.$neutral-900};
    --low-markup-rule: #{variables.$neutral-200};
    --low-markup-bullet: #{variables.$neutral-300};
    --low-markup-counter: #{variables.$neutral-500};
    --low-markup-table-border: #{variables.$neutral-200};
    --low-markup-table-bg-default: variables.$white;
    --low-markup-table-bg: #{variables.$neutral-100};
}

.markup {
    color: var(--low-markup-color);
    // line-height: 1.75;
    // Default paragraphs
    & :where(p) {
        line-height: var(--low-markup-paragraph-line-height);
        margin-top: var(--low-markup-paragraph-margin-top);
        margin-bottom: var(--low-markup-paragraph-margin-bottom);
    }
    // Lead paragraphs
    & :where(p[class~="lead"]) {
        color: var(--low-markup-lead-color);
        font-size: var(--low-markup-lead-font-size);
        line-height: var(--low-markup-lead-line-height);
    }
    // Bold text
    & :where(b, strong) {
        // color: var(--low-markup-bold);
        font-weight: var(--low-markup-bold-font-weight);
    }
    // inline code
    & :where(code) {
        background-color: var(--low-markup-code-bg);
        color: var(--low-markup-code-color);
        font-size: var(--low-markup-code-font-size);
        font-family: var(--low-markup-code-font-family);
        font-weight: var(--low-markup-code-font-weight);
        line-height: var(--low-markup-code-line-height);
        padding: var(--low-markup-code-padding-y) var(--low-markup-code-padding-x);
        border-radius: var(--low-markup-code-radius);
        position: relative;
    }
    // Block code
    & :where(pre) {
        background-color: var(--low-markup-pre-bg);
        border-radius: var(--low-markup-pre-radius);
        color: var(--low-markup-pre-color);
        font-size: var(--low-markup-pre-font-size);
        font-weight: var(--low-markup-pre-font-weight);
        line-height: var(--low-markup-pre-line-height);
        margin-top: var(--low-markup-pre-margin-top);
        margin-bottom: var(--low-markup-pre-margin-bottom);
        overflow-x: auto;
        padding: var(--low-markup-pre-padding-y) var(--low-markup-pre-padding-x);
        & code {
            background-color: transparent;
            color: inherit;
            border-width: 0;
            border-radius: 0;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            line-height: inherit;
            padding: 0;
        }
    }
    // Blockquote
    & :where(blockquote) {
        border-left-color: var(--low-markup-blockquote-border-color);
        border-left-width: var(--low-markup-blockquote-border-width);
        color: var(--low-markup-quote-body);
        font-style: italic;
        font-weight: 500;
        margin-bottom: var(--low-markup-blockquote-margin-bottom);
        margin-top: var(--low-markup-blockquote-margin-top);
        padding-left: 1em;
    }
    // Headings
    & :where(h1, h2, h3, h4) {
        color: var(--low-markup-heading);
        // font-weight: 800;
        // & strong {
        //     color: inherit;
        //     font-weight: 700;
        // }
    }
    & :where(h1) {
        font-size: 2.25em;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 1em;
        margin-top: 2.5em;
    }
    & :where(h2) {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 1.25;
        margin-bottom: 0.75em;
        margin-top: 2em;
    }
    & :where(h3) {
        font-size: 1.25em;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 0.5em;
        margin-top: 1.5em;
    }
    & :where(h4) {
        // font-size: 1em;
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 0.4em;
        margin-top: 1.25em;
    }
    // Horizontal rule
    & :where(hr) {
        border-color: var(--low-markup-rule);
        border-top-width: 1px;
        height: 0px;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    // Links
    & :where(a) {
        color: var(--low-markup-link);
        font-weight: 500;
        text-decoration: underline;
    }
    // List
    & :where(ul, ol) {
        margin-bottom: 1.25em;
        margin-top: 1.25em;
        padding-left: 1.625em;
        & > li {
            padding-left: 0.25em;
        }
    }
    & :where(ul) {
        list-style-type: disc;
        & > li::marker {
            color: var(--low-markup-bullet);
        }
    }
    & :where(ol) {
        list-style-type: decimal;
        & > li::marker {
            color: var(--low-markup-counter);
        }
    }
    & :where(li) {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    // Table
    & :where(table) {
        // font-size: 0.875em;
        // line-height: 1.75;
        margin-bottom: 1.5em;
        margin-top: 1.5em;
        table-layout: auto;
        text-align: left;
        width: 100%;
    }
    & :where(thead th) {
        color: var(--low-markup-heading);
        font-weight: 600;
        vertical-align: bottom;
    }
    & :where(thead th, tbody td) {
        border: 1px solid var(--low-markup-table-border);
        padding: 0.6em 0.75em;
    }
    & :where(thead tr, tbody tr:nth-child(2n + 1)) {
        background-color: var(--low-markup-table-bg-default);
    }
    & :where(tbody tr:nth-child(2n)) {
        background-color: var(--low-markup-table-bg);
    }
    & :where(tbody tr) {
        vertical-align: baseline;
    }
    // First or last childs
    & > *:first-child {
        margin-top: 0;
    }
    & > *:last-child {
        margin-bottom: 0;
    }
}
