<div class="h-full overflow-y-scroll scrollbar">
    {{#each site.sidebar}}
    <div class="mb-4 text-sm">
        <div class="text-neutral-950 font-bold mb-1">{{title}}</div>
        {{#each items}}
        <a href="{{link}}" class="block text-neutral-700 hover:underline py-1">
            <span>{{title}}</span>
            {{#if version}}<span class="text-2xs text-white bg-neutral-900 p-1 rounded-md font-medium ml-1">{{version}}{{/if}}
        </a>
        {{/each}}
    </div>
    {{/each}}
</div>
