<!doctype html>
<html lang="en">
<head>
    <meta charSet="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap">
    <link rel="stylesheet" href="./dist/low.css">
    <title>LowCSS {{version}}</title>
    <style>
        body {
            margin: 0px!important;
            padding: 0px!important;
        }
    </style>
</head>
<body class="bg:white m:0 p:0 font:inter text:gray-700">
    <!-- Header section -->
    <div class="w:full position:fixed top:0">
        <div class="w:full h:20 maxw:screen-xl px:6 mx:auto d:flex items:center justify:between">
            <div class="font:bold">
                <span>LowCSS</span>
            </div>
            <div class="">Icons</div>
        </div>
    </div>
    <!-- Welcome screen -->
    <div class="w:full maxw:screen-xl px:6 mx:auto">
        <div class="w:full h:screen d:flex flex:col items:center justify:center">
            <div class="text:center w:full maxw:screen-md">
                <div class="font:black text:8xl">Lightning Fast</div>
                <div class="font:black text:8xl">CSS Utilities</div>
            </div>
        </div>
    </div>
</body>
</html>
