<html lang="en">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta name="title" content="{{site.title}}" />
    <meta name="description" content="{{site.description}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" />
    <link rel="stylesheet" href="./low.css" />
    <link rel="stylesheet" href="./highlight.css" />
    <title>LowCSS {{site.version}}</title>
    <style>
        :not(pre) > code {
            color: #101623 !important;
            font-weight: bold !important;
        }
    </style>
</head>
<body class="bg-white m-0 p-0 font-inter text-neutral-800 leading-normal">
    <div class="border-b-1 border-neutral-100 sticky-top bg-white">
        <div class="w-full max-w-7xl h-16 px-6 mx-auto flex items-center justify-between gap-4">
            <a href="./" class="flex items-center shrink-0 gap-2 text-neutral-900 no-underline">
                <div class="font-black text-xl">
                    <span>lowCSS.</span>
                </div>
                <div class="flex items-center font-bold text-2xs bg-neutral-100 px-2 py-1 rounded-xl">
                    <span>{{site.version}}</span>
                </div>
            </a>
            <div class="flex items-center grow">
                <input type="text" class="w-full outline-0 bg-neutral-100 rounded-md" />
            </div>
            <div class="flex items-center">
                <a href="{{site.repository}}" class="no-underline opacity-70 hover:opacity-100">
                    <img class="w-6 h-6" src="./github.svg" />
                </a>
            </div>
        </div>
    </div>
    <div class="flex w-full max-w-7xl mx-auto gap-4 px-6 pb-16">
        <!-- content -->
    </div>
    <div class="w-full border-t-1 border-neutral-100">
        <div class="w-full max-w-7xl mx-auto px-6 pt-10 pb-20 text-sm text-neutral-600">
            Designed by <a href="https://josemi.xyz" class="underline text-neutral-900 hover:text-neutral-950 font-medium">Josemi</a>. 
            Source code available on <a href="{{site.repository}}" class="underline text-neutral-900 hover:text-neutral-950 font-medium">GitHub</a>. 
        </div>
    </div>
</body>
</html>
