<html lang="en">
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no" />
    <meta name="title" content="{{site.title}}" />
    <meta name="description" content="{{site.description}}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" />
    <link rel="stylesheet" href="./low.css" />
    <title>LowCSS {{site.version}}</title>
    <style>
        :not(pre) > code {
            color: #101623 !important;
            font-weight: bold !important;
        }
        .markup > h1:first-of-type {
            margin-top: 0px !important;
        }
    </style>
</head>
<body class="bg-white m-0 p-0 font-inter text-neutral-800 leading-normal">
    <div class="border-b-1 border-neutral-100 sticky-top bg-white">
        <div class="w-full max-w-7xl h-16 px-6 mx-auto flex items-center justify-between gap-4">
            <a href="./" class="flex items-center shrink-0 gap-2 text-neutral-900 no-underline">
                <div class="font-black text-xl">
                    <span>lowCSS.</span>
                </div>
                <div class="hidden md:flex items-center font-bold text-2xs bg-neutral-100 px-2 py-1 rounded-xl">
                    <span>{{site.version}}</span>
                </div>
            </a>
            <div class="flex items-center grow relative max-w-2xl">
                <input data-role="search-input" type="text" class="w-full outline-0 bg-neutral-100 rounded-md" placeholder="Search utilities..." />
                <div data-role="search-results" class="absolute top-full w-full mt-4 rounded-md px-4 pt-4 pb-2 bg-white border border-neutral-200 max-h-60 overflow-y-auto scrollbar" style="display:none;"></div>
            </div>
            <div class="flex items-center">
                <a href="{{site.repository}}" class="no-underline opacity-70 hover:opacity-100">
                    <img class="w-6 h-6" src="./github.svg" />
                </a>
            </div>
        </div>
    </div>
    <!-- Welcome -->
    <div class="w-full max-w-7xl mx-auto px-6 py-20">
        <div class="w-full mb-16">
            <div class="font-black md:text-8xl text-7xl text-neutral-900 leading-tight">
                <span>lowCSS.</span>
            </div>
            <div class="font-bold text-6xl mb-6 leading-none text-neutral-700">Functional CSS. Easy. Fast.</div>
            <div class="max-w-2xl mt-0 mb-8 text-2xl leading-relaxed">
                <span>A low-level CSS utility framework for building elegant user interfaces using reusable and responsive building blocks.</span>
            </div>
            <div class="flex">
                <a href="#introduction" class="flex items-center p-4 rounded-lg bg-neutral-900 hover:bg-neutral-950 text-white no-underline cursor-pointer">
                    <strong class="text-lg">Getting started</strong>
                    <div class="text-xl ml-2">
                        <svg width="1em" height="1em"><use xlink:href="sprite.svg#arrow-right"></use></svg>
                    </div>
                </a>
            </div>
        </div>
        <div class="w-full grid gap-8 md:grid-cols-3 grid-cols-1">
            {{#features}}
            <div class="bg-neutral-100 rounded-lg p-8">
                <div class="mb-4 text-4xl text-neutral-800">
                    <svg width="1em" height="1em"><use xlink:href="sprite.svg#{{icon}}"></use></svg>
                </div>
                <div class="font-bold text-lg mb-2 text-neutral-800">{{title}}</div>
                <div class="text-sm">{{description}}</div>
            </div>
            {{/features}}
        </div>
    </div>
    <!-- Content -->
    <div class="flex w-full max-w-7xl mx-auto px-6 gap-4">
        <div class="sticky w-72 shrink-0 h-screen hidden md:block py-4 pr-8" style="top:65px">
            <div class="h-full overflow-y-scroll scrollbar">
                {{#site.sidenav}}
                <div class="mb-4 text-sm">
                    <div class="text-neutral-950 font-bold mb-1">{{title}}</div>
                    {{#items}}
                    <a href="{{link}}" class="block text-neutral-700 hover:underline py-1">{{title}}</a>
                    {{/items}}
                </div>
                {{/site.sidenav}}
                <div class="h-16"></div>
            </div>
        </div>
        <div class="w-full max-w-3xl markup">
            <a name="introduction" class=""></a>
            {{> introduction}}
            <a name="installation" class=""></a>
            {{> installation}}
            <a name="usage" class=""></a>
            {{> usage}}
            <a name="colors" class=""></a>
            {{> colors}}
            <a name="reset" class=""></a>
            {{> reset}}
            <a name="keyframes" class=""></a>
            {{> keyframes}}
            <a name="helpers" class=""></a>
            {{> helpers}}
            <a name="utilities" class=""></a>
            {{> utilities}}
        </div>
    </div>
    <div class="w-full border-t-1 border-neutral-100">
        <div class="w-full max-w-7xl mx-auto px-6 pt-10 pb-20 text-sm text-neutral-600">
            Designed by <a href="https://josemi.xyz" class="underline text-neutral-900 hover:text-neutral-950 font-medium">Josemi</a>. 
            Source code available on <a href="{{site.repository}}" class="underline text-neutral-900 hover:text-neutral-950 font-medium">GitHub</a>. 
        </div>
    </div>
    <script type="text/javascript" src="search.js"></script>
</body>
</html>
