// Include sass modules
@use "sass:list";
@use "sass:map";
@use "sass:meta";
@use "sass:string";

// @description generate a new map where the keys are the items in the list of the first argument,
// and the values are the items in the list of the second argument
@function map-zip($keys, $values) {
    $result: ();
    @if list.length($keys) != list.length($values) {
        @error "Lists lengths do not match in map-zip function";
    }
    @for $i from 1 through list.length($keys) {
        $result: map.set($result, list.nth($keys, $i), list.nth($values, $i));
    }
    @return $result;
}

// @description generate a flat version of a map
@function map-flat($input, $separator: "-") {
    $result: ();
    @each $key,$value in $input {
        // Check if value is a map, then we will need to call the map-flat recursive
        @if meta.type-of($value) == "map" {
            $value: map-flat($value, $separator);
            @each $k,$v in $value {
                $result: map.set($result, "#{$key}#{$separator}#{$k}", $v);
            }
        }
        // If not, just assign the value
        @else {
            $result: map.set($result, $key, $value);
        }
    }
    @return $result;
}

// @description map.merge with multiple maps
@function map-assign($input: (), $args...) {
    @each $arg in $args {
        $input: map.merge($input, $arg);
    }
    @return $input;
}

// Default global colors
$black: #000;
$white: #fff;
$transparent: transparent;

// @description list with all the color shades
$shades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 950);

// @description color palette
$colors: map-flat((
    "cool":    map-zip($shades, (#F6F7F9, #E7E9EF, #CBD1DC, #ACB6C8, #8E9AB4, #6F7F9F, #5A6987, #455168, #313949, #1F242E, #14181F)),
    "gray":    map-zip($shades, (#F9FAFA, #F3F4F5, #D5D9DC, #B7BDC3, #9BA3AC, #7C8792, #646E78, #4A5259, #31363A, #191C1F, #0C0D0E)),
    "neutral": map-zip($shades, (#FAFAFA, #F5F5F5, #E6E6E6, #C9C9C9, #ABABAB, #8F8F8F, #737373, #545454, #383838, #1A1A1A, #0D0D0D)),
    "red":     map-zip($shades, (#FCE9EB, #F9D2D6, #F2A6AD, #EC7985, #E54D5C, #DF2033, #B21A29, #86131F, #590D14, #2D060A, #160305)),
    "orange":  map-zip($shades, (#FEF0E6, #FEE1CD, #FDC49B, #FBA66A, #FA8938, #F96B06, #C75605, #954004, #642B02, #321501, #190B01)),
    "yellow":  map-zip($shades, (#FFF9E5, #FFF2CC, #FFE699, #FFD966, #FFCC33, #FFBF00, #CC9900, #997300, #664D00, #332600, #191300)),
    "green":   map-zip($shades, (#E5FBED, #CBF6DB, #9BEEB9, #66E595, #36DD73, #1FB757, #199446, #126D34, #0D4A23, #062311, #031108)),
    "teal":    map-zip($shades, (#E3FCFA, #CCFAF6, #99F5ED, #66F0E4, #33EADB, #15D0C1, #11A79A, #0D7D74, #08534D, #042A27, #021311)),
    "blue":    map-zip($shades, (#E6F0FF, #CDE1FE, #9BC4FD, #69A6FC, #3789FB, #056BFA, #0456C8, #034096, #022B64, #011532, #000B19)),
    "indigo":  map-zip($shades, (#ECECFD, #DEDEFC, #B8B9F9, #9799F7, #7173F4, #5053F1, #1316EC, #0E11B3, #090B76, #05063D, #02031C)),
    "violet":  map-zip($shades, (#F3ECFE, #E6D8FD, #CEB1FB, #B58BF9, #9C64F7, #843DF5, #610CE9, #4809AF, #300674, #18033A, #0C011D)),
    "pink":    map-zip($shades, (#FDE8F2, #FBD5E8, #F6ACD1, #F282BA, #ED59A3, #E92F8C, #CB1570, #981054, #650B38, #33051C, #17020D)),
));

// @description get a color from the color palette
@function get-color($color-name) {
    @if map.has-key($colors, $color-name) {
        @return map.get($colors, $color-name);
    }
    // Color not found, display a warning message and return black
    @warn "Color '#{$color-name}' not found in the color palette.";
    @return $black;
}



// @description Inject base styles
@mixin base() {
    @include base.reset();
    @include base.forms();
    @include base.keyframes();
    @include base.scrollbar();
    @include base.helpers();
    @include base.fonts();
}

// @description Generate root variables
@mixin root() {
    :root {
        // Fonts
        @each $font-name,$font-value in config.$fonts {
            --low-font-#{$font-name}: #{$font-value};
        }
        // Colors variables
        @each $color-name,$color-value in config.$colors {
            --low-#{$color-name}: #{$color-value};
        }
    }
}

// @description Generate the utility from the given configuration
@mixin utility($utility-config) {
    $classname: map.get($utility-config, "classname");
    $properties: map.get($utility-config, "properties");
    $values: map.get($utility-config, "values");
    $variants: map.get($utility-config, "variants");
    // Check if the variants list includes the "default" variant
    // @if not internal.list-includes($variants, "default") {
    //     $variants: list.join(("default"), $variants);
    // }
    // Generate utilities for each variant
    @each $variant in $variants {
        @each $key,$value in $values {
            $selector: "#{config.$prefix}#{$key}";
            // Check if classname has been provided for building the selector
            @if meta.type-of($classname) == "string" and $classname != "" {
                $selector: "#{config.$prefix}#{$classname}-#{$key}";
                // Check for default key --> remove this from selector
                @if $key == "DEFAULT" {
                    $selector: "#{config.$prefix}#{$classname}";
                }
            }
            $selector: internal.escape-selector($selector);
            // Default selector for this utility
            @if $variant == "default" {
                .#{$selector} {
                    @include api.rule($properties, $value);
                }
            }
            // For responsive modifiers, we will register the style
            // for each breakpoint in the list of breakpoints
            @else if $variant == "responsive" and meta.type-of(config.$breakpoints) == "map" {
                @each $breakpoint in map.keys(config.$breakpoints) {
                    @include api.screen-above($breakpoint) {
                        .#{$breakpoint}#{config.$separator}#{$selector} {
                            @include api.rule($properties, $value);
                        }
                    }
                }
            }
            // Pseudo modifiers
            @else if map.has-key(config.$pseudos, $variant) {
                $pseudo: $variant;
                $pseudo-selector: map.get(config.$pseudos, $pseudo);
                // Group selector
                @if internal.str-starts-with($pseudo, "group-") {
                    .group#{$pseudo-selector} .#{$pseudo}#{config.$separator}#{$selector} {
                        @include api.rule($properties, $value);
                    }
                }
                // Peer selector
                @else if internal.str-starts-with($pseudo, "peer-") {
                    .peer#{$pseudo-selector}~.#{$pseudo}#{config.$separator}#{$selector} {
                        @include api.rule($properties, $value);
                    }
                }
                // Default pseudo selector
                @else {
                    .#{$pseudo}#{config.$separator}#{$selector}#{$pseudo-selector} {
                        @include api.rule($properties, $value);
                    }
                }
            }
            // TODO: display no valid variant error
        }
    }
}

// @description generate utilities
@mixin utilities() {
    @each $utility-name,$utility-config in utilities.$utilities {
        @if internal.is-enabled($utility-name, config.$include-utilities, config.$exclude-utilities) {
            @include utility($utility-config);
        }
    }
}

// @description utility mixin to apply utilities
@mixin apply($utilities) {
    $utilities-list: internal.str-split($utilities, " ");
    $parsed-separator: internal.str-replace(config.$separator, "\\", "");
    $parsed-pseudo-separator: internal.str-replace(config.$pseudo-separator, "\\", "");
    $parsed-breakpoint-separator: internal.str-replace(config.$breakpoint-separator, "\\", "");
    @each $utility in $utilities-list {
        @if string.index($utility, $parsed-separator) == null {
            @error "Invalid utility '#{$utility}'";
        }
        // First parse utility alias
        $utility-alias: string.slice($utility, 1, string.index($utility, $parsed-separator) - 1);
        @if config.$prefix != "" {
            $utility-alias: internal.str-replace($utility-alias, config.$prefix, "");
        }
        $utility-name: null;
        $utility-config: null;
        $utility-key: null;
        $utility-value: null;
        $utility-properties: null;
        $utility-pseudo: null;
        $utility-breakpoint: null;
        $rest-utility: string.slice($utility, string.index($utility, $parsed-separator) + string.length($parsed-separator));
        // Check for pseudo modifier
        @if string.index($rest-utility, $parsed-pseudo-separator) != null {
            $rest-utility-items: internal.str-split($rest-utility, $parsed-pseudo-separator);
            @if list.length($rest-utility-items) != 2 {
                @error "Invalid utility '#{$utility}'";
            }
            $utility-key: list.nth($rest-utility-items, 1);
            $utility-pseudo: list.nth($rest-utility-items, 2);
        }
        @else if string.index($rest-utility, $parsed-breakpoint-separator) != null {
            $rest-utility-items: internal.str-split($rest-utility, $parsed-breakpoint-separator);
            @if list.length($rest-utility-items) != 2 {
                @error "Invalid utility '#{$utility}'";
            }
            $utility-key: list.nth($rest-utility-items, 1);
            $utility-breakpoint: list.nth($rest-utility-items, 2);
        }
        @else {
            $utility-key: $rest-utility;
        }
        // Check for alias of the utility
        @each $alias in map.keys(config.$aliases) {
            @if $alias == $utility-alias {
                $utility-name: map.get(config.$aliases, $alias);
            }
        }
        // Get utility config
        @each $name,$config in $all-utilities {
            @if $utility-value == null {
                @if $name == $utility-name or map.get($config, "alias") == $utility-alias {
                    $values: utility-values($name, map.get($config, "values"));
                    @each $key,$value in $values {
                        @if "#{$key}" == "#{$utility-key}" {
                            // $utility-value: map.get($values, $utility-key);
                            $utility-value: $value;
                            $utility-properties: map.get($config, "properties");
                        }
                    }
                }
            }
        }
        // Check for not found
        @if $utility-value == null {
            // @error "Utility '#{$utility-alias}' not found.";
            @error "Utility value '#{$utility-key}' not found in utility configuration.";
        }
        // Apply pseudo selector
        @if $utility-pseudo != null {
            @if map.has-key(config.$pseudos, $utility-pseudo) == false {
                @error "Pseudo '#{$utility-pseudo}' not found in utility '#{$utility}'";
            }
            $pseudo: map.get(config.$pseudos, $utility-pseudo);
            &#{$pseudo} {
                @include api.rule($utility-properties, $utility-value);
            }
        }
        // Apply breakpoint selector
        @else if $utility-breakpoint != null {
            @if map.has-key(config.$breakpoints, $utility-breakpoint) == false {
                @error "Breakpoint '#{$utility-breakpoint}' not found in utility '#{$utility}'";
            }
            @include api.screen-above($utility-breakpoint) {
                @include api.rule($utility-properties, $utility-value);
            }
        }
        // Apply default utility
        @else {
            @include api.rule($utility-properties, $utility-value);
        }
    }
} 
