/* @title animation */
/* @description Utilities to animate your elements using CSS animations. */
/* @category animation */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/animation */
@utility animation-* {
    animation: value(--animate-*);
}

/* @title background-clip */
/* @description Utilities to set the background-clip property of the element. */
/* @category background */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/background-clip */
@theme static {
    --background-clip-border: border-box;
    --background-clip-padding: padding-box;
    --background-clip-content: content-box;
    --background-clip-text: text;
}
@utility bg-* {
    background-clip: value(--background-clip-*);
}

/* @title background-color */
/* @description Utilities to set the background-color property of the element. */
/* @category background */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/background-color */
@theme static {
    --background-color-transparent: transparent;
    --background-color-current: currentColor;
}
@utility bg-*:variant(default,hover,focus) {
    background-color: value(--background-color-*);
}
@utility bg-*:variant(default,hover,focus) {
    background-color: value(--color-*);
}

/* @title background-repeat */
/* @description Utilities to set the background-repeat property of the element. */
/* @category background */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat */
@theme static {
    --background-repeat-repeat: repeat;
    --background-repeat-no-repeat: no-repeat;
}
@utility bg-* {
    background-repeat: value(--background-repeat-*);
}

/* @title background-size */
/* @description Utilities to set the background-size property of the element. */
/* @category background */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/background-size */
@theme static {
    --background-size-auto: auto;
    --background-size-cover: cover;
    --background-size-contain: contain;
}
@utility bg-* {
    background-size: value(--background-size-*);
}

/* @title border-radius */
/* @description Utilities to set the border-radius property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius */
@utility rounded-* {
    border-radius: value(--radius-*)
}

/* @title border-top-left-radius */
/* @description Utilities to set the border-top-left-radius property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-left-radius */
@utility rounded-tl-* {
    border-top-left-radius: value(--radius-*);
}

/* @title border-top-right-radius */
/* @description Utilities to set the border-top-right-radius property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-right-radius */
@utility rounded-tr-* {
    border-top-right-radius: value(--radius-*);
}

/* @title border-bottom-left-radius */
/* @description Utilities to set the border-bottom-left-radius property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-left-radius */
@utility rounded-bl-* {
    border-bottom-left-radius: value(--radius-*);
}

/* @title border-bottom-right-radius */
/* @description Utilities to set the border-bottom-right-radius property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-right-radius */
@utility rounded-br-* {
    border-bottom-right-radius: value(--radius-*);
}

/* @title border-color */
/* @description Utilities to set the border-color property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-color */
@theme static {
    --border-color-transparent: transparent;
    --border-color-current: currentColor;
}
@utility border-*:variant(default,hover,focus) {
    border-color: value(--border-color-*);
}
@utility border-*:variant(default,hover,focus) {
    border-color: value(--color-*);
}

/* @title border-width */
/* @description Utilities to set the border-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-width */
@utility border-* {
    border-width: value(--border-width-*);
}

/* @title border-top-width */
/* @description Utilities to set the border-top-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-top-width */
@utility border-t-* {
    border-top-width: value(--border-width-*);
}

/* @title border-right-width */
/* @description Utilities to set the border-right-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-right-width */
@utility border-r-* {
    border-right-width: value(--border-width-*);
}

/* @title border-bottom-width */
/* @description Utilities to set the border-bottom-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-bottom-width */
@utility border-b-* {
    border-bottom-width: value(--border-width-*);
}

/* @title border-left-width */
/* @description Utilities to set the border-left-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-left-width */
@utility border-l-* {
    border-left-width: value(--border-width-*);
}

/* @title border-style */
/* @description Utilities to set the border-style property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/border-style */
@theme static {
    --border-style-solid: solid;
    --border-style-dashed: dashed;
    --border-style-dotted: dotted;
    --border-style-none: none;
}
@utility border-* {
    border-style: value(--border-style-*);
}

/* @title outline-color */
/* @description Utilities to set the outline-color property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/outline-color */
@theme static {
    --outline-color-transparent: transparent;
    --outline-color-current: currentColor;
}
@utility outline-*:variant(default,hover,focus) {
    outline-color: value(--outline-color-*);
}
@utility outline-*:variant(default,hover,focus) {
    outline-color: value(--color-*);
}

/* @title outline-width */
/* @description Utilities to set the outline-width property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/outline-width */
@utility outline-* {
    outline-width: value(--border-width-*);
}

/* @title outline-offset */
/* @description Utilities to set the outline-offset property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/outline-offset */
@utility outline-offset-* {
    outline-offset: value(--border-width-*);
}

/* @title outline-style */
/* @description Utilities to set the outline-style property of the element. */
/* @category border */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/outline-style */
@theme static {
    --outline-style-solid: solid;
    --outline-style-dashed: dashed;
    --outline-style-dotted: dotted;
    --outline-style-none: none;
}
@utility outline-* {
    outline-style: value(--outline-style-*);
}

/* @title shadow */
/* @description Utilities to set the box-shadow property of the element. */
/* @category effects */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
@utility shadow-* {
    box-shadow: value(--shadow-*);
}

/* @title opacity */
/* @description Utilities to set the opacity property of the element. */
/* @category effects */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/opacity */
@utility opacity-*:variant(default,responsive,hover,focus) {
    opacity: value(--opacity-*);
}

/* @title align-content */
/* @description Utilities to set the align-content property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/align-content */
@theme static {
    --align-content-start: start;
    --align-content-center: center;
    --align-content-end: end;
    --align-content-stretch: stretch;
    --align-content-space-between: space-between;
    --align-content-space-around: space-around;
    --align-content-space-evenly: space-evenly;
}
@utility content-*:variant(default,responsive) {
    align-content: value(--align-content-*);
}

/* @title align-items */
/* @description Utilities to set the align-items property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/align-items */
@theme static {
    --align-items-start: flex-start;
    --align-items-end: flex-end;
    --align-items-center: center;
    --align-items-stretch: stretch;
    --align-items-baseline: baseline;
}
@utility items-*:variant(default,responsive) {
    align-items: value(--align-items-*);
}

/* @title align-self */
/* @description Utilities to set the align-self property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/align-self */
@theme static {
    --align-self-auto: auto;
    --align-self-start: flex-start;
    --align-self-end: flex-end;
    --align-self-center: center;
    --align-self-stretch: stretch;
    --align-self-baseline: baseline;
}
@utility self-*:variant(default,responsive) {
    align-self: value(--align-self-*);
}

/* @title flex-direction */
/* @description Utilities to set the flex-direction property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/flex-direction */
@theme static {
    --flex-direction-row: row;
    --flex-direction-col: column;
    --flex-direction-row-reverse: row-reverse;
    --flex-direction-col-reverse: column-reverse;
}
@utility flex-*:variant(default,responsive) {
    flex-direction: value(--flex-direction-*);
}

/* @title flex-grow */
/* @description Utilities to set the flex-grow property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/flex-grow */
@theme static {
    --flex-grow-0: 0;
    --flex-grow-1: 1;
}
@utility grow-*:variant(default,responsive) {
    flex-grow: value(--flex-grow-*);
}

/* @title flex-shrink */
/* @description Utilities to set the flex-shrink property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/flex-shrink */
@theme static {
    --flex-shrink-0: 0;
    --flex-shrink-1: 1;
}
@utility shrink-*:variant(default,responsive) {
    flex-shrink: value(--flex-shrink-*);
}

/* @title flex-wrap */
/* @description Utilities to set the flex-wrap property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/flex-wrap */
@theme static {
    --flex-wrap-wrap: wrap;
    --flex-wrap-wrap-reverse: wrap-reverse;
    --flex-wrap-nowrap: nowrap;
}
@utility flex-*:variant(default,responsive) {
    flex-wrap: value(--flex-wrap-*);
}

/* @title gap */
/* @description Utilities to set the gap property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/gap */
@utility gap-*:variant(default,responsive) {
    gap: value(--gap-*);
}

/* @title grid-template-columns */
/* @description Utilities to set the grid-template-columns property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
@theme static {
    --grid-columns-1: repeat(1, minmax(0, 1fr));
    --grid-columns-2: repeat(2, minmax(0, 1fr));
    --grid-columns-3: repeat(3, minmax(0, 1fr));
    --grid-columns-4: repeat(4, minmax(0, 1fr));
    --grid-columns-5: repeat(5, minmax(0, 1fr));
    --grid-columns-6: repeat(6, minmax(0, 1fr));
    --grid-columns-7: repeat(7, minmax(0, 1fr));
    --grid-columns-8: repeat(8, minmax(0, 1fr));
    --grid-columns-9: repeat(9, minmax(0, 1fr));
    --grid-columns-10: repeat(10, minmax(0, 1fr));
    --grid-columns-11: repeat(11, minmax(0, 1fr));
    --grid-columns-12: repeat(12, minmax(0, 1fr));
    --grid-columns-none: none;
}
@utility grid-cols-*:variant(default,responsive) {
    grid-template-columns: value(--grid-columns-*);
}

/* @title grid-template-rows */
/* @description Utilities to set the grid-template-rows property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows */
@theme static {
    --grid-rows-1: repeat(1, minmax(0, 1fr));
    --grid-rows-2: repeat(2, minmax(0, 1fr));
    --grid-rows-3: repeat(3, minmax(0, 1fr));
    --grid-rows-4: repeat(4, minmax(0, 1fr));
    --grid-rows-5: repeat(5, minmax(0, 1fr));
    --grid-rows-6: repeat(6, minmax(0, 1fr));
    --grid-rows-none: none;
}
@utility grid-rows-*:variant(default,responsive) {
    grid-template-rows: value(--grid-rows-*);
}

/* @title grid-column */
/* @description Utilities to set the size and the position of elements in grid columns. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column */
@theme static {
    --grid-column-span-1: span 1 / span 1;
    --grid-column-span-2: span 2 / span 2;
    --grid-column-span-3: span 3 / span 3;
    --grid-column-span-4: span 4 / span 4;
    --grid-column-span-5: span 5 / span 5;
    --grid-column-span-6: span 6 / span 6;
    --grid-column-span-7: span 7 / span 7;
    --grid-column-span-8: span 8 / span 8;
    --grid-column-span-9: span 9 / span 9;
    --grid-column-span-10: span 10 / span 10;
    --grid-column-span-11: span 11 / span 11;
    --grid-column-span-12: span 12 / span 12;
}
@utility col-span-*:variant(default,responsive) {
    grid-column: value(--grid-column-span-*);
}

/* @title grid-row */
/* @description Utilities to set the size and the position of elements in grid rows. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row */
@theme static {
    --grid-row-span-1: span 1 / span 1;
    --grid-row-span-2: span 2 / span 2;
    --grid-row-span-3: span 3 / span 3;
    --grid-row-span-4: span 4 / span 4;
    --grid-row-span-5: span 5 / span 5;
    --grid-row-span-6: span 6 / span 6;
    --grid-row-span-7: span 7 / span 7;
    --grid-row-span-8: span 8 / span 8;
    --grid-row-span-9: span 9 / span 9;
    --grid-row-span-10: span 10 / span 10;
    --grid-row-span-11: span 11 / span 11;
    --grid-row-span-12: span 12 / span 12;
}
@utility row-span-*:variant(default,responsive) {
    grid-row: value(--grid-row-span-*);
}

/* @title justify-content */
/* @description Utilities to set the justify-content property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content */
@theme static {
    --justify-content-start: flex-start;
    --justify-content-end: flex-end;
    --justify-content-center: center;
    --justify-content-between: space-between;
    --justify-content-around: space-around;
}
@utility justify-*:variant(default,responsive) {
    justify-content: value(--justify-content-*);
}

/* @title order */
/* @description Utilities to set the order property of the element. */
/* @category flexbox */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/order */
@theme static {
    --order-none: 0;
    --order-first: -999;
    --order-last: 999;
    --order-1: 1;
    --order-2: 2;
    --order-3: 3;
    --order-4: 4;
    --order-5: 5;
    --order-6: 6;
    --order-7: 7;
    --order-8: 8;
    --order-9: 9;
    --order-10: 10;
    --order-11: 11;
    --order-12: 12;
}
@utility order-*:variant(default,responsive) {
    order: value(--order-*);
}

/* @title cursor */
/* @description Utilities to set the cursor property of the element. */
/* @category interactivity */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/cursor */
@theme static {
    --cursor-auto: auto;
    --cursor-default: default;
    --cursor-hand: pointer;
    --cursor-pointer: pointer;
    --cursor-move: move;
    --cursor-none: none;
    --cursor-zoom-in: zoom-in;
    --cursor-zoom-out: zoom-out;
    --cursor-not-allowed: not-allowed;
    --cursor-wait: wait;
    --cursor-text: text;
    --cursor-help: help;
    --cursor-context-menu: context-menu;
    --cursor-progress: progress;
    --cursor-cell: cell;
    --cursor-crosshair: crosshair;
    --cursor-vertical-text: vertical-text;
    --cursor-alias: alias;
    --cursor-copy: copy;
    --cursor-no-drop: no-drop;
    --cursor-grab: grab;
    --cursor-grabbing: grabbing;
    --cursor-all-scroll: all-scroll;
    --cursor-col-resize: col-resize;
    --cursor-row-resize: row-resize;
    --cursor-n-resize: n-resize;
    --cursor-e-resize: e-resize;
    --cursor-s-resize: s-resize;
    --cursor-w-resize: w-resize;
    --cursor-ne-resize: ne-resize;
    --cursor-nw-resize: nw-resize;
    --cursor-se-resize: se-resize;
    --cursor-sw-resize: sw-resize;
    --cursor-ew-resize: ew-resize;
    --cursor-ns-resize: ns-resize;
    --cursor-nesw-resize: nesw-resize;
}
@utility cursor-* {
    cursor: value(--cursor-*);
}

/* @title user-select */
/* @description Utilities to set the user-select property of the element. */
/* @category interactivity */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
@theme static {
    --select-none: none;
    --select-text: text;
    --select-all: all;
    --select-auto: auto;
}
@utility select-* {
    user-select: value(--select-*);
}

/* @title pointer-events */
/* @description Utilities to set the pointer-events property of the element. */
/* @category interactivity */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events */
@theme static {
    --pointer-auto: auto;
    --pointer-none: none;
}
@utility pointer-events-* {
    pointer-events: value(--pointer-*);
}

/* @title touch-action */
/* @description Utilities to set the touch-action property of the element. */
/* @category interactivity */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action */
@theme static {
    --touch-auto: auto;
    --touch-none: none;
    --touch-pan-x: pan-x;
    --touch-pan-y: pan-y;
    --touch-pan-left: pan-left;
    --touch-pan-right: pan-right;
    --touch-pan-up: pan-up;
    --touch-pan-down: pan-down;
    --touch-pinch-zoom: pinch-zoom;
    --touch-manipulation: manipulation;
}
@utility touch-* {
    touch-action: value(--touch-*);
}

@theme static {
    --inset-0: 0px;
    --inset-half: 50%;
    --inset-full: 100%;
    --inset-auto: auto;
}
/* @title bottom */
/* @description Utilities to set the bottom property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/bottom */
@utility bottom-* {
    bottom: value(--inset-*);
}

/* @title left */
/* @description Utilities to set the left property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/left */
@utility left-* {
    left: value(--inset-*);
}

/* @title right */
/* @description Utilities to set the right property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/right */
@utility right-* {
    right: value(--inset-*);
}

/* @title top */
/* @description Utilities to set the top property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/top */
@utility top-* {
    top: value(--inset-*);
}

/* @title position */
/* @description Utilities to set the position property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/position */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/position */
@theme static {
    --position-relative: relative;
    --position-absolute: absolute;
    --position-sticky: sticky;
    --position-fixed: fixed;
    --position-initial: initial;
}
@utility *:variant(default,responsive) {
    position: value(--position-*);
}

@theme static {
    --overflow-auto: auto;
    --overflow-scroll: scroll;
    --overflow-hidden: hidden;
    --overflow-visible: visible;
}

/* @title overflow */
/* @description Utilities to set the overflow property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
@utility overflow-* {
    overflow: value(--overflow-*);
}

/* @title overflow-x */
/* @description Utilities to set the overflow-x property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-x */
@utility overflow-x-* {
    overflow-x: value(--overflow-*);
}

/* @title overflow-y */
/* @description Utilities to set the overflow-y property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-y */
@utility overflow-y-* {
    overflow-y: value(--overflow-*);
}

/* @title z-index */
/* @description Utilities to set the z-index property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
@theme static {
    --zindex-auto: auto;
    --zindex-0: 0;
    --zindex-10: 10;
    --zindex-20: 20;
    --zindex-30: 30;
    --zindex-40: 40;
    --zindex-50: 50;
}
@utility z-* {
    z-index: value(--zindex-*);
}

/* @title display */
/* @description Utilities to set the display property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/display */
@theme static {
    --display-hidden: none;
    --display-block: block;
    --display-inline: inline-block;
    --display-flex: flex;
    --display-inline-flex: inline-flex;
    --display-grid: grid;
    --display-inline-grid: inline-grid;
    --display-table: table;
    --display-inline-table: inline-table;
    --display-table-row: table-row;
    --display-table-cell: table-cell;
    --display-table-column: table-column;
    --display-table-group: table-group;
    --display-table-header-group: table-header-group;
    --display-table-footer-group: table-footer-group;
    --display-table-column-group: table-column-group;
}
@utility *:variant(default,responsive,hover,focus,group-hover,group-focus,group-focus-within) {
    display: value(--display-*);
}

/* @title float */
/* @description Utilities to set the float property of the element. */
/* @category layout */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/float */
@theme static {
    --float-left: left;
    --float-right: right;
    --float-start: inline-start;
    --float-end: inline-end;
    --float-none: none;
}
@utility float-* {
    float: value(--float-*);
}

/* @title height */
/* @description Utilities to set the height property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/height */
@utility h-*:variant(default,responsive) {
    height: value(--spacing-*);
}
@utility h-screen:variant(default,responsive) {
    height: 100vh;
}

/* @title max-height */
/* @description Utilities to set the max-height property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/max-height */
@utility max-h-*:variant(default,responsive) {
    max-height: value(--spacing-*);
}
@utility max-h-screen:variant(default,responsive) {
    max-height: 100vh;
}

/* @title min-height */
/* @description Utilities to set the min-height property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/min-height */
@utility min-h-*:variant(default,responsive) {
    min-height: value(--spacing-*);
}
@utility min-h-screen:variant(default,responsive) {
    min-height: 100vh;
}

/* @title width */
/* @description Utilities to set the width property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/width */
@utility w-*:variant(default,responsive) {
    width: value(--spacing-*);
}
@utility w-auto:variant(default,responsive) {
    width: auto;
}

/* @title max-width */
/* @description Utilities to set the max-width property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/max-width */
@utility max-w-*:variant(default,responsive) {
    max-width: value(--spacing-*);
}
@utility max-w-*:variant(default,responsive) {
    max-width: value(--container-*);
}

/* @title min-width */
/* @description Utilities to set the min-width property of the element. */
/* @category sizing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/min-width */
@utility min-w-*:variant(default,responsive) {
    min-width: value(--spacing-*);
}

/* @title margin */
/* @description Utilities to set the margin property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
@utility m-*:variant(default,responsive,first,last) {
    margin: value(--spacing-*);
}

/* @title margin-x */
/* @description Utilities to set the margin-left and margin-right properties of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
@utility mx-*:variant(default,responsive) {
    margin-left: value(--spacing-*);
    margin-right: value(--spacing-*);
}
@utility mx-auto:variant(default,responsive) {
    margin-left: auto;
    margin-right: auto;
}

/* @title margin-y */
/* @description Utilities to set the margin-top and margin-bottom properties of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin */
@utility my-*:variant(default,responsive) {
    margin-top: value(--spacing-*);
    margin-bottom: value(--spacing-*);
}

/* @title margin-bottom */
/* @description Utilities to set the margin-bottom property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin-bottom */
@utility mb-*:variant(default,responsive,first,last) {
    margin-bottom: value(--spacing-*);
}

/* @title margin-left */
/* @description Utilities to set the margin-left property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin-left */
@utility ml-*:variant(default,responsive) {
    margin-left: value(--spacing-*);
}
@utility ml-auto:variant(default,responsive) {
    margin-left: auto;
}

/* @title margin-right */
/* @description Utilities to set the margin-right property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin-right */
@utility mr-*:variant(default,responsive) {
    margin-right: value(--spacing-*);
}
@utility mr-auto:variant(default,responsive) {
    margin-right: auto;
}

/* @title margin-top */
/* @description Utilities to set the margin-top property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/margin-top */
@utility mt-*:variant(default,responsive,first,last) {
    margin-top: value(--spacing-*);
}

/* @title padding */
/* @description Utilities to set the padding property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
@utility p-*:variant(default,responsive,first,last) {
    padding: value(--spacing-*);
}

/* @title padding-x */
/* @description Utilities to set the padding-left and padding-right properties of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
@utility px-*:variant(default,responsive) {
    padding-left: value(--spacing-*);
    padding-right: value(--spacing-*);
}

/* @title padding-y */
/* @description Utilities to set the padding-top and padding-bottom properties of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding */
@utility py-*:variant(default,responsive) {
    padding-top: value(--spacing-*);
    padding-bottom: value(--spacing-*);
}

/* @title padding-bottom */
/* @description Utilities to set the padding-bottom property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding-bottom */
@utility pb-*:variant(default,responsive,first,last) {
    padding-bottom: value(--spacing-*);
}

/* @title padding-left */
/* @description Utilities to set the padding-left property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding-left */
@utility pl-*:variant(default,responsive) {
    padding-left: value(--spacing-*);
}

/* @title padding-right */
/* @description Utilities to set the padding-right property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding-right */
@utility pr-*:variant(default,responsive) {
    padding-right: value(--spacing-*);
}

/* @title padding-top */
/* @description Utilities to set the padding-top property of the element. */
/* @category spacing */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/padding-top */
@utility pt-*:variant(default,responsive,first,last) {
    padding-top: value(--spacing-*);
}

/* @title font-family */
/* @description Utilities to set the font-family property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
@utility font-* {
    font-family: value(--font-family-*);
}

/* @title font-size */
/* @description Utilities to set the font-size property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/font-size */
@utility text-* {
    font-size: value(--font-size-*);
}

/* @title font-style */
/* @description Utilities to set the font-style property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/font-style */
@theme static {
    --font-style-italic: italic;
    --font-style-not-italic: normal;
}
@utility * {
    font-style: value(--font-style-*);
}

/* @title font-weight */
/* @description Utilities to set the font-weight property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
@utility font-*:variant(default,responsive,hover,focus) {
    font-weight: value(--font-weight-*);
}

/* @title letter-spacing */
/* @description Utilities to set the letter-spacing property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/letter-spacing */
@utility tracking-* {
    letter-spacing: value(--tracking-*);
}

/* @title line-height */
/* @description Utilities to set the line-height property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/line-height */
@utility leading-* {
    line-height: value(--leading-*);
}

/* @title list-style-position */
/* @description Utilities to set the list-style-position property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-position */
@theme static {
    --list-position-inside: inside;
    --list-position-outside: outside;
}
@utility list-* {
    list-style-position: value(--list-position-*);
}

/* @title list-style-type */
/* @description Utilities to set the list-style-type property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type */
@theme static {
    --list-type-none: none;
    --list-type-disc: disc;
    --list-type-decimal: decimal;
}
@utility list-* {
    list-style-type: value(--list-type-*);
}

/* @title text-align */
/* @description Utilities to set the text-align property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-align */
@theme static {
    --text-align-justify: justify;
    --text-align-left: left;
    --text-align-center: center;
    --text-align-right: right;
}
@utility text-* {
    text-align: value(--text-align-*);
}

/* @title text-color */
/* @description Utilities to set the text color of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/color */
@theme static {
    --text-color-transparent: transparent;
    --text-color-current: currentColor;
}
@utility text-*:variant(default,hover,focus) {
    color: value(--text-color-*);
}
@utility text-*:variant(default,hover,focus) {
    color: value(--color-*);
}

/* @title text-decoration-line */
/* @description Utilities to set the text-decoration-line property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-line */
@theme static {
    --text-decoration-line-strike: line-through;
    --text-decoration-line-underline: underline;
    --text-decoration-line-no-underline: none;
}
@utility *:variant(default,hover,focus) {
    text-decoration-line: value(--text-decoration-line-*);
}

/* @title text-decoration-color */
/* @description Utilities to set the text-decoration-color property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-color */
@theme static {
    --text-decoration-color-transparent: transparent;
    --text-decoration-color-current: currentColor;
}
@utility decoration-*:variant(default,hover,focus) {
    text-decoration-color: value(--text-decoration-color-*);
}
@utility decoration-*:variant(default,hover,focus) {
    text-decoration-color: value(--color-*);
}

/* @title text-decoration-style */
/* @description Utilities to set the text-decoration-style property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-style */
@theme static {
    --text-decoration-style-solid: solid;
    --text-decoration-style-double: double;
    --text-decoration-style-dotted: dotted;
    --text-decoration-style-dashed: dashed;
    --text-decoration-style-wavy: wavy;
}
@utility decoration-*:variant(default,hover,focus) {
    text-decoration-style: value(--text-decoration-style-*);
}

/* @title text-decoration-thickness */
/* @description Utilities to set the text-decoration-thickness property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness */
@theme static {
    --text-decoration-thickness-auto: auto;
    --text-decoration-thickness-0: 0;
    --text-decoration-thickness-1: 1px;
    --text-decoration-thickness-2: 2px;
    --text-decoration-thickness-4: 4px;
    --text-decoration-thickness-8: 8px;
}
@utility decoration-*:variant(default,hover,focus) {
    text-decoration-thickness: value(--text-decoration-thickness-*);
}

/* @title text-underline-offset */
/* @description Utilities to set the text-underline-offset property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset */
@theme static {
    --text-underline-offset-auto: auto;
    --text-underline-offset-0: 0;
    --text-underline-offset-1: 1px;
    --text-underline-offset-2: 2px;
    --text-underline-offset-4: 4px;
    --text-underline-offset-8: 8px;
}
@utility underline-offset-*:variant(default,hover,focus) {
    text-underline-offset: value(--text-underline-offset-*);
}

/* @title text-overflow */
/* @description Utilities to set the text-overflow property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-overflow */
@theme static {
    --text-overflow-ellipsis: ellipsis;
    --text-overflow-clip: clip;
}
@utility text-* {
    text-overflow: value(--text-overflow-*);
}

/* @title text-transform */
/* @description Utilities to set the text-transform property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/text-transform */
@theme static {
    --text-transform-capitalize: capitalize;
    --text-transform-uppercase: uppercase;
    --text-transform-lowercase: lowercase;
}
@utility *:variant(default,hover,focus) {
    text-transform: value(--text-transform-*);
}

/* @title vertical-align */
/* @description Utilities to set the vertical-align property of the element. */
/* @category typography */
/* @url https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align */
@theme static {
    --vertical-align-baseline: baseline;
    --vertical-align-top: top;
    --vertical-align-middle: middle;
    --vertical-align-bottom: bottom;
    --vertical-align-text-top: text-top;
    --vertical-align-text-bottom: text-bottom;
}
@utility align-* {
    vertical-align: value(--vertical-align-*);
}
