---
chart_values: [32, 36, 14, 28, 8, 20]
---
<div class="border rounded p-6 bg-white shadow border-border">
    <div class="flex flex-col gap-1 mb-8">
        <div class="text-sm text-muted-foreground">Spent this month</div>
        <div class="font-bold text-3xl leading-none">$1234.56</div>
    </div>
    <div class="flex flex-col gap-2">
        <div class="flex items-stretch justify-between h-40">
        {{#each partials.cards.money_track.chart_values}}
            <div class="rounded bg-muted w-8 h-full overflow-hidden flex items-end">
                <div class="bg-primary w-full h-{{.}} rounded"></div>
            </div>
        {{/each}}
        </div>
    </div>
</div>
